[2016-10-19 20:38] aweingarten opened #1 "Setup Drush Aliases for capitalcamp codebase"
Add the drush aliases for the codebase dev/stage/prod to the drush/aliases

[2016-10-19 20:39] sarahjean opened #2 "Add readme with the basic steps for setting up local site"
Need simple directions from cloning repo all the way to syncing db and running updates.

[2016-10-19 20:41] aweingarten opened #3 "Setup CloudHooks"
Setup cloudhooks to fire when code is deployed to Acquia environments.  Hooks will run
- updb
- features revery
- cmi import

[2016-10-19 20:41] aweingarten opened #4 "Export CMI for site baseline"
Export all the CMI for the site and store in the config/default directory.

[2016-10-19 20:42] aweingarten opened #6 "Setup FrontEnd Environment"
Setup a new theme using Acquia COG as the base.
Update the blt project.yml to build the theme.
Update node in drupal vm.

[2016-10-19 20:47] aweingarten opened #7 "Setup Glue module"
Setup a central glue module for holding update hooks and feature bundle.

[2016-10-19 20:47] aweingarten opened #8 "Readme on How to work with CMI, Features, and Update hooks"

[2016-10-19 20:48] aweingarten opened #9 "Configure Memcache"

[2016-10-19 20:48] aweingarten opened #10 "Configure google analytics"

[2016-10-19 20:49] aweingarten opened #11 "install admin toolbar"

[2016-10-19 20:49] aweingarten opened #12 "Install Environment Indicator"

[2016-10-19 20:49] mikemadison13 opened #13 "Setup Roles and User Accounts for Content Team"
TBD

[2016-10-19 20:50] aweingarten opened #14 "Enable purge, acquia purge, and cloudflare modules"
Ensure that active purging by tag works.

[2016-10-19 20:51] aweingarten opened #15 "Prevent Forms from being Spammed by Bots"
## Business Requirements

() As an admin I want to Prevent forms get spammed by Bots.
## Technical Requirements

() Enable honeypot module by default on all forms.
() Enable Mollom by default on Forms.
() Evaluate if we also need recaptcha.

[2016-10-19 20:52] aweingarten opened #16 "Install OG"
- [x] Add Dependency for drupal-cod/event
- [x] Create basic Event Content Type (that is a Group using OG) within https://github.com/drupal-cod/event namespace
- [x] Basic Fields setup as defined below

**Fields**
* Title
* Body
* Date
* Image

**View**
* Basic list of events
* Basic calendar of events

[2016-10-19 20:53] aweingarten opened #17 "Setup acquia connector for the site"
Setup acquia connector ensure it's connected.

[2016-10-20 00:58] timwood opened #18 "Change hostname in box/Vagrantfile"
local.capitalcamp.com doesn't seem to work. Should we us something that doesn't really resolve?

https://github.com/Drupal4Gov/Drupal-GovCon-2017/blob/master/box/config.yml#L2

[2016-10-20 14:12] aweingarten opened #20 "Port the ticket Module to D8"
## Business Requirements

() As a user I want to register to attend the conference.
() As an admin I can create ticket types and specify a number of tickets for each ticket type.
() Once the number of registrations exceeds the number of tickets for that type users can no longer register for that ticket type.
() Right now the workflow is that an anonymous user can register on the site as a new drup

[2016-10-20 14:19] aweingarten commented on #7
Merged and deployed to dev.

[2016-10-20 14:19] #7 closed

[2016-10-20 14:58] timwood commented on #20
What about the following items (sourced from the GovCon D8 Planning document)?
1. As a user I want to be able to register others for a ticket to govcon
1. As a user I want to be able to cancel my ticket registration to govcon
1. As an administrator I want to be able to cancel tickets registration for the event.
1. As an administrator I want to be able to export tickets.

[2016-10-20 18:55] charlieartist opened #21 "Create Splash Page"
Initial splash page with basic information for GovCon 2017, to be displayed until Drupal build is ready to be shown to public. Pending consultation with the team on how to implement--will most likely be static splash page, HTML/CSS, with minimal JS.

[2016-10-20 19:13] mikemadison13 opened #22 "Enforce HTTPS Only for All Traffic"
This will require a minor modification to the site's .htaccess file to enforce SSL on all traffic for the production website.

[2016-10-21 15:46] mikemadison13 commented on #22
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/27

[2016-10-21 20:49] sarahjean opened #28 "Add caching to travis file"
Here's an example of travis caching for vendor/node_modules from the cog theme:
[code]

[2016-10-21 20:52] timwood commented on #18
local.capitalcamp.com is fine, so long as the vagrant process adds the proper lines to /etc/hosts. For Vagrant to do this automatically the hostsupdater plugin is required.

I resolved my issue locally by running `vagrant reload --provision` from box folder. Hosts entries weren't being added to local /etc/hosts file.

[2016-10-21 20:52] #18 closed

[2016-10-21 23:13] aweingarten opened #30 "Setup User Account Registration (not ticket)"
## Business Requirements

() As an anonymous user I want to be able to register an account on the site.

[2016-10-22 03:11] aweingarten commented on #4
Completed.

[2016-10-22 03:11] #4 closed

[2016-10-22 04:59] aweingarten commented on #28
Implemented here: https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/34

Tested with re-running a build here: https://travis-ci.org/Drupal4Gov/Drupal-GovCon-2017/builds/169680943#L780

No node dependencies were downloaded!

[2016-10-22 04:59] #28 closed

[2016-10-22 04:59] aweingarten commented on #3
Implemented here: https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/31

[2016-10-22 04:59] #3 closed

[2016-10-22 05:11] aweingarten opened #35 "Come up with a secure way to add back cloud-api calls to cloud hooks"
The cloud-hooks used to deploy code on the Acquia env rely on the cloud Api keys.  Since this is a public repo we will need to find a safe place to store those keys. Once this is determined we can re-add the cloud api functions

[2016-10-22 05:31] aweingarten opened #37 "Install an XML Sitemap"
## Business Requirements

(/) As a site maintainer I want my site to be easily indexed by search engines

[2016-10-22 05:32] aweingarten opened #38 "Install and Configure PathAuto"

[2016-10-22 05:32] aweingarten opened #39 "Enable Syslog, Disable DBLog"

[2016-10-22 14:26] aweingarten opened #41 "Setup and Configure Meta-tag module"

[2016-10-23 15:18] aweingarten commented on #4
@timwood I exported the CMI here: `/admin/config/development/configuration/full/export`

[2016-10-24 14:25] mikemadison13 opened #44 "Update BLT To Resolve Drush Alias Issue"
See https://github.com/acquia/blt/pull/593 at the BLT issue.

This is causing Drush to fail on remote aliases unless you do a drush --include=drush in the commands.

[2016-10-24 16:38] #22 closed

[2016-10-24 16:38] mikemadison13 commented on #22
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/45

[2016-10-24 17:29] aweingarten opened #47 "Ensure that HSTS headers are set for Production"
## Business Requirements

() As a user I want my site to be secure.
## Technical Requirements

() Redirect bare domain to www. domain
() deslash all requests at htaccess
() Update the site to set HSTS headers for prod only.  This maybe done via .htaccess

[2016-10-24 17:42] aweingarten opened #48 "Static the 2016 site"
## Business Requirements

() Create a static copy of the 2016 site
## Technical Requirements

() ensure that the main robots.txt prevents it from being crawled.
() add a directory in github for "static_legacy_sites"
() place the static at /2016.
() use htaccess magic to serve the static_legacy_sites/2016 from /2016
() setup a 301 redirect from /drupal-govcon-2016 to /2016
() Remove login links fro

[2016-10-24 20:15] timwood commented on #47
I think we still need a solution for https://github.com/Drupal4Gov/Drupal-GovCon-2016/issues/21, which is related. It appears CloudFlare is not in front of our site at this time, but I'm not 100% sure.

[2016-10-24 20:49] sarahjean opened #50 "Skin style guide to allow full width components"

[2016-10-24 22:18] mikemadison13 commented on #10
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/51

[2016-10-24 22:18] #10 closed

[2016-10-24 22:30] mikemadison13 commented on #11
@aweingarten suggests https://www.drupal.org/project/adminimal_admin_toolbar for this.

[2016-10-24 22:44] mikemadison13 commented on #11
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/52

[2016-10-25 13:54] #11 closed

[2016-10-25 16:15] mikemadison13 commented on #12
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/53

[2016-10-25 16:15] mikemadison13 commented on #12
This ticket is for the configuration and installation of the https://www.drupal.org/project/environment_indicator module.

[2016-10-25 18:26] onelittlebecca commented on #21
do we have design for next year or still in the works?

On Thu, Oct 20, 2016 at 2:55 PM, Karl Kaufmann <notifications@github.com>
wrote:

[2016-10-25 18:30] charlieartist commented on #21
Becca--it's still in the works. Adam is posting up some ideas from other sites, but so far, we don't have consensus on the branding. As soon as that's done, we will be moving forward. I'm already working on getting UX and design patterns up, and with Sarah on a style guide.

[2016-10-25 20:13] mikemadison13 commented on #41
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/55

[2016-10-25 20:13] mikemadison13 commented on #38
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/56

[2016-10-25 20:18] #12 closed

[2016-10-25 21:27] aweingarten commented on #41
Module is already installed by lightning

[2016-10-25 21:27] #41 closed

[2016-10-25 21:33] aweingarten commented on #1
Completed by @sarahjean

[2016-10-25 21:33] #1 closed

[2016-10-25 21:34] mikemadison13 commented on #44
I think with the most current version of BLT these are now working properly. Could others please try @capitalcamp.dev status and ensure it is working properly for them?

[2016-10-25 22:53] aweingarten opened #58 "Setup Cron on acquia cloud"
Setup a cron job to run hourly on acquia cloud that trigger's drupal's cron

[2016-10-25 23:12] aweingarten commented on #58
Confirmed Cron is enabled and working

[2016-10-25 23:12] #58 closed

[2016-10-25 23:13] aweingarten commented on #37
Deployed and confirmed working

[2016-10-25 23:14] aweingarten commented on #44
works for me.  Closing.

[2016-10-25 23:14] #44 closed

[2016-10-26 16:51] sarahjean commented on #6
Done.

[2016-10-26 16:51] #6 closed

[2016-10-26 16:57] mikemadison13 commented on #48
current status: I am following the basic directions on https://www.drupal.org/node/27882.

I have a local copy of the site in a VM and used wget to pull everything out. The biggest issue currently is that all files have hard coded urls to the prod url. These either need to be changed or they need to be replaced with the new relative url.

[2016-10-26 17:07] aweingarten commented on #48
@mikemadison13 you should be able to do a quick find replace in PHPstorm to get that done without too much pain and suffering

[2016-10-26 17:07] mikemadison13 commented on #48
yeah @aweingarten, it's more a question of "what to make it"

[2016-10-26 18:24] fluxsauce commented on #20
BADCamp has an unlimited number of free tickets, but we do have optional sponsorships at X levels (typically, $25, $50, $100). The workaround would be having a insanely high number of tickets of each type.

* [ ] As a user, I want a free ticket by registering an account
* [ ] As an administrator, I want a user's ticket to be canceled if their account is deleted
  * Ex: Deleting spammer
* [ ] As a

[2016-10-27 07:12] Nouveau commented on #20
@fluxsauce I don't think our user requirements should specify how we meet the user needs. "As a user I want to register to attend the conference for free." is better than "As a user, I want a free ticket by registering an account"

Here's my updated list:

As a user I want to register to attend the conference.
As a user I want to be able to register others for a ticket.
As a user I want to be able

[2016-10-28 21:51] aweingarten commented on #14
Configured!

[2016-10-28 21:51] #14 closed

[2016-10-28 21:54] aweingarten opened #64 "Disable Cloudflare Purging on NON-Prod"
Currently Cloudflare is enabled on lower environments.  It technically doesn't need to be enabled anywhere but dev.

[2016-10-28 22:19] aweingarten commented on #39
Complete

[2016-10-28 22:19] #39 closed

[2016-10-29 03:30] timwood commented on #48
@mikemadison13 an you document which tool you used from the directions on d.o. and the exact command and anything else that might be useful?

[2016-10-29 16:41] aweingarten commented on #17
Module is enabled but unclear best approach for configuring per env

[2016-10-29 17:10] timwood commented on #47
@aweingarten Fixed this by moving to a different CloudFlare account and tweaking the config, on production. Only last issue is that in the old code on production, the .htaccess contains the following:

[code]

Which is redirecting http://drupalgovcon.org/ to https://www.drupalgovcon.org/. For full HSTS preload eligibility we need `http://drupalgovcon.org/` to redirect to `https://drupalgovcon.org/

[2016-10-29 17:16] timwood commented on #38
Looks done.

[2016-10-29 17:16] #38 closed

[2016-10-29 17:21] aweingarten opened #67 "Default the drupalvm ssh path to /var/www/capitalcamp"
Update config .yml so that when you ssh into the vm the default path is set to /var/www/capitalcamp

[2016-10-29 23:02] timwood commented on #67
Do you suggest adjusting local ssh config or adding something to the vagrant users .bashrc? There's a risk the NFS mount won't have worked and so nothing will be in /var/www/capitalcamp, but I suppose the directory will still exist if that happens?

[2016-10-30 16:36] aweingarten opened #68 "Investigate use of SEO tools for the site"
## Business Requirements
- As a content administrator I want to optimize my site for SEO/SEM purposes.
## Technical Requirements
- Look into different drupal modules or tools that can help facilitate optimizing meta-data and copy for sharing.

[2016-10-30 16:38] aweingarten opened #69 "Audit content for SEO"
## Business Requirements
- Ensure that pages all have necessary meta-data for facebook, twitter, linked
- Ensure that they have nice shareable images

[2016-10-30 16:57] aweingarten opened #70 "Setup 4xx and 5xx pages"
Implement a 4xx page in drupal.
Implement a 5xx page in drupal.

[2016-10-30 16:57] aweingarten opened #71 "Ensure that fast404 is setup properly"

[2016-10-30 17:00] aweingarten opened #72 "As a content author I want to add social share icons to the site"

[2016-10-30 17:02] aweingarten opened #73 "As a site owner I want images used on the site to be automatically shrunk and optimized"
Ensure that images across the site are optimized and resized appropriately

[2016-10-30 17:02] aweingarten opened #74 "As a site owner I want to ensure that my site loads as quickly as possible"
Analyze the site for front-end performance bottlenecks and create follow up tickets to address
- Confirm that content is cached at cloudflare.
- Confirm that bigpipe enabled.
- Run Frontend performance tests and look for opportunities to optimize.

[2016-10-31 12:39] aweingarten opened #75 "As a site owner I want my site to be WCAG AA compliant."

[2016-10-31 16:04] mikemadison13 commented on #48
Essentially:

1.  setup local copy of site (including repo, vm, files, and db). note: the 2016 version of the site has an older version of DrupalVM and I couldn't actually provision it. I instead used the 2017 d8 site's VM temporarily for the 2016 site.
2. installed wget using homebrew
3. installed the disable all forms module (http://drupal.org/project/disable_all_forms)
3. ran wget:
`wget -q --m

[2016-10-31 16:04] mikemadison13 commented on #48
current activity is trying to get the .htaccess redirects working per @aweingarten's request.

[2016-11-01 13:13] aweingarten commented on #67
@timwood there is a setting we can add to the vm config.yml.

[2016-11-02 02:41] aweingarten opened #76 "Static the 2015 Site"

[2016-11-03 02:19] timwood commented on #48
I've just committed PR #77 for the 2015 site. The changes to .htaccess will likely conflict with yours, but we should be able to resolve that relatively easily. I included these lines as well to catch the path with and without the / (slash) since in my environment it wasn't loading index.html.

[code]

[2016-11-06 00:31] timwood opened #78 "Upgrade to Lightning distro"
https://www.drupal.org/project/lightning/releases/8.x-1.12

Does BLT or Composer do this for us automatically?

[2016-11-06 00:31] timwood commented on #76
PR #77

[2016-11-06 00:33] timwood commented on #74
BigPipe for perceived performance improvement!

[2016-11-06 00:36] timwood commented on #68
https://www.drupal.org/project/metatag

[2016-11-06 00:47] timwood commented on #20
How about adding the following. This is how it's done in COD 7.x today. The ticket entity contain some of the registration information.

As an administrator, I want to add additional fields per ticket type to track dietary needs, t-shirt size, collect name, affiliations and more.

[2016-11-06 22:02] aweingarten commented on #78
Currently we are tracking the dev branch of lightning.

Probably should change to `^8.1` here:
https://github.com/Drupal4Gov/Drupal-GovCon-2017/blob/master/composer.json#L18

Then run `composer update drupal/lightning`

Finally commit composer.json and composer.lock

[2016-11-07 01:54] aweingarten opened #79 "2015 + 2016 Static File Closeout"
- [ ] Update sitemap.xml settings to add weights to make 2015 and 2016 site lower than the rest of the site.
- [x] Add 301 redirects OR HTACCESS rewrites from/2015 and /2016 to /drupal-govcon-2016 and drupal-govcon-2015
- [x]  in robots.txt exclude everything that's not a session page if possible

[2016-11-07 15:50] #78 closed

[2016-11-08 21:32] aweingarten opened #81 "Implement lift basics"

[2016-11-09 02:46] aweingarten commented on #76
Merged!

[2016-11-09 02:46] #76 closed

[2016-11-09 18:29] mikemadison13 commented on #48
Update: Due to issues with the original WGet method, I've gone with the same HTTrack method that @timwood used. However, that method failed against the public stage/prod sites, so I had to rebuild my local environment.

[2016-11-09 18:56] aweingarten commented on #67
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/83

[2016-11-09 18:56] #67 closed

[2016-11-10 01:30] timwood opened #84 "Upgrade Drupal VM to fix PHP 5.6 PPA issue"
Upstream issue: https://github.com/geerlingguy/drupal-vm/issues/971

[2016-11-10 01:42] #84 closed

[2016-11-10 15:53] prynncamm commented on #30
REQUIRED CRITERIA
=============
| Criteria | Why? |
|---|---|
| First Name | Identifier for the attendee |
| Last Name | Sortable identifier for the attendee for check-in |
| Company | Identify who they are representing |
| Email | So we can communicate with them |

OPTIONAL CRITERIA
=============
We usually wait until the post-event survey to ask these questions, but I think we can get a more rea

[2016-11-10 17:25] aweingarten commented on #30
@prynncamm to make personalization simpler can we add one section that maps directly to segment?

[2016-11-10 18:39] prynncamm commented on #30
@aweingarten Absolutely

[2016-11-11 01:54] aweingarten commented on #48
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/60

[2016-11-11 01:54] #48 closed

[2016-11-11 14:49] aweingarten opened #86 "Determine How to handle confidential keys on a public repo"

[2016-11-11 16:01] timwood commented on #86
https://www.drupal.org/project/lockr

[2016-11-11 17:04] mikemadison13 commented on #30
after chatting with @prynncamm, we are going to setup Vocabularies called Role, Industry, and Motivation to take the options for the above (first 3 only) and make the terms reusable throughout the site.

[2016-11-11 17:41] timwood commented on #30
@mikemadison13 Sounds reasonable to use vocabularies. Role will likely apply to session submissions (may be labeled as "track" tho?).

[2016-11-11 18:51] timwood commented on #35
Related to #86

[2016-11-11 19:11] timwood commented on #21
Now that we have 2015 and 2016 static site archives in the Git repo, can we make sure we link to those somewhere, possibly on the splash screen?

[2016-11-11 19:20] mikemadison13 opened #87 "Update Drush Wrapper from BLT"
There is a known bug in BLT that causes drush commands to fail without manually placing a --include=drush in the commands. These particularly tend to fail when trying to do a remote command to the Acquia Cloud. See https://github.com/acquia/blt/pull/593

We need to update the Drush wrapper so this no longer occurs. I attempted to handle this previously, but didn't commit the proper file. This shou

[2016-11-11 19:35] timwood opened #88 "Add static content pages to dev site"
Navigation from 2015 site (sorry for caps):

- ABOUT
  - CONTACT US
  - ~~ACCESSIBILITY~~
  - ~~TRAVEL AND DIRECTIONS~~ [_Called "Location"_]
  - WHERE TO STAY
  - ~~CODE OF CONDUCT~~
  - ~~CONVINCE YOUR BOSS~~
  - FAQS
- VOLUNTEERING!
  - MEET THE DRUPAL GOVCON TEAM
- SCHEDULE
  - MY SCHEDULE
  - BOFS
  - FLOOR LAYOUTS
  - ACCEPTED SESSIONS
- PROGRAM
  - CODE SPRINT
  - FULL DAY TRAININGS
  - ~~M

[2016-11-11 20:08] mikemadison13 commented on #87
this is done, see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/89

[2016-11-11 20:18] timwood commented on #88
@prynncamm please review 2015 nav in issue and suggest any changes/merges/modifications. Any other feedback related to 2016 site nav that might apply to 2015.

[2016-11-11 20:35] aweingarten commented on #9
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/90

[2016-11-11 20:35] #9 closed

[2016-11-11 23:07] aweingarten opened #93 "Scrub The DB when pulling it down from PROD"
## Business Requirements
- As a user I want my PII protected.

## Technical Requirements
- Write a cloudhook which fires on DB activity for NON prod environments
- have it scrub the user's table with random emails and passwords.
- Scrub the cloudflare settings
- Scrub the acquia config settings
- Update the travis build to pulldown the DB from stage

[2016-11-12 16:51] timwood commented on #30
@mikemadison13 Comments base on testing PR #92.

- @prynncamm should the Industry facet on registration be single select (radio button) or single select list rather than multi-select?
- Also, @charlieartist suggested we may want to use select list rather than radio/checkboxes. I've used https://www.drupal.org/project/chosen in the past and it's pretty great.

![image](https://cloud.githubuserconte

[2016-11-12 17:47] #87 closed

[2016-11-12 17:49] aweingarten commented on #30
@timwood, we'll probably we'll have to work with event/ticket registration on that in dec-jan once Brian's work on ticket is farther along

[2016-11-13 15:36] timwood commented on #30
@aweingarten Do we expect to be accepting registrations for user accounts before tickets are made available?

Also, I think we should try to import user accounts from the previous year. Thoughts on that?

[2016-11-13 15:37] timwood opened #94 "Import user accounts from 2015/2016 database"

[2016-11-13 15:40] aweingarten commented on #86
@timwood,
so the issue with settings.php is that is that it loads before the drupal container is bootstrapped.  That means that whatever solution we go with probably has to be a composer library which is autoloaded before we reach settings.php.

It would probably involve a simple include from settings.php which has a decrypt function.  We could store the decryption key on the web-server outside gi

[2016-11-13 15:43] aweingarten commented on #94
this actually caused problems last year and led to confusion about who registered when.  I don't think we need to do this.

[2016-11-13 15:50] aweingarten commented on #30
@timwood that's a very good question.  I think thats something we can decide.

[2016-11-14 00:54] aweingarten commented on #86
@timwood,
I created a couple of new issues on the BLT issue queue:
- https://github.com/acquia/blt/issues/663
- https://github.com/acquia/blt/issues/659

[2016-11-14 01:24] timwood commented on #30
I just know that in past years / other conferences when I registered for an account I thought I was done. I didn't realize that I also had to register for a ticket.

[2016-11-14 15:38] mikemadison13 commented on #30
I like the idea of importing the users, but I think that adds enough complexity that we should/could consider opening a new ticket for it.

[2016-11-14 15:44] timwood commented on #30
I did that right after I posed my first comment. #94

[2016-11-14 23:36] mikemadison13 opened #95 "BLT not Reverting CMI on Builds"
I have a ticket open on this issue over in the BLT repo - https://github.com/acquia/blt/issues/657. This bug is preventing the user changes in https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/30 to not properly pass Behat tests.

[2016-11-15 18:12] mikemadison13 commented on #79
couple of questions, is there a standard approach for putting NON drupal content into the XML Sitemap? I've never done that before an am not finding a great deal of information on doing so.

[2016-11-15 18:24] mikemadison13 commented on #79
i just added the 2015 and 2016 redirects as part of the other PR work being done for DGC-48. See https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/91

[2016-11-16 15:12] prynncamm commented on #30
I'm leaning toward single select for the industry.

[2016-11-16 21:22] mikemadison13 opened #96 "Update D8 to 8.2.3"
Security updates came out on 11/16/16 and need to be applied so that PRs and builds pass.

see https://www.drupal.org/SA-CORE-2016-005

[2016-11-16 22:51] mikemadison13 commented on #96
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/97

[2016-11-16 23:40] mikemadison13 commented on #37
there is a bug in this module that is preventing a lot of things from happening properly. when the module is installed manually or via drush, all is well. however when installed via CMI, then the module is missing database tables which cause fatal errors.

[2016-11-18 21:41] mikemadison13 commented on #16
see my PR here: https://github.com/drupal-cod/event/pull/1

[2016-11-18 23:18] mikemadison13 commented on #16
and PR here: https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/101

[2016-11-18 23:19] mikemadison13 opened #102 "Create Basic Event View"
We want a basic view to be a part of the event feature (see https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/16) that will show upcoming events. This should be committed into the drupal-cod/event feature.

- [ ] Added Upcoming Events View (only published, future events)
- [ ] Added Events Archive View (only published, past events)
- [ ] Changes submitted to drupal-cod
- [ ] Changes (if any)

[2016-11-18 23:22] mikemadison13 opened #103 "Create Basic Event Tests"
We should have a basic rounds of Behat testing for the event feature (see https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/16) which should be minimal, just making sure that an admin can access the fields and the content form.

- [ ] Behat test written
- [ ] Behat test passing
- [ ] Changes submitted to drupal-cod

[2016-11-18 23:59] mikemadison13 commented on #96
@aweingarten successfully handled this in https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/98 (without BLT)

[2016-11-18 23:59] #96 closed

[2016-11-18 23:59] #37 closed

[2016-11-19 03:40] aweingarten opened #104 "Create Session Content Type in COD"
Add an event content type. To the cod program module:
https://github.com/drupal-cod/program

| Field                          |                     Type                        |
|---------------------|-------------------------------  |
| Session Title             |   title                                            |
| Description                |   long text                                    |
|

[2016-11-19 03:58] timwood commented on #88
@aweingarten Just want to confirm that we want to copy/paste/migrate any static pages to the new D8 site Development environment in Acquia hosting.

[2016-11-19 04:51] timwood commented on #88
Items crossed out in issue description have been migrated/created in new dev site.

[2016-11-19 15:37] aweingarten commented on #88
Removed scavenger hunt.  Since there won't be on in 2017!

[2016-11-19 16:25] aweingarten opened #105 "Create Responsive Menu"
Begin building a mobile menu.  Idea here is to update the main template for the site and get the basics in place.  The specific styling can be done in a follow up ticket

() In the styleguide:
() Build menu mobile first
() Create a standard mobile menu
() Create a smooth animation for showing and hiding the mobile menu.
() Create an animation for the hamburger e.g https://codepen.io/designcouch/pe

[2016-11-19 16:26] aweingarten commented on #105
@jonraedeke @sarahjean thinking we can at least start building the mobile menu and do some site basics while we debate the design.

[2016-11-19 16:56] timwood commented on #88
Thanks! I wasn't sure about that one.

On Sat, Nov 19, 2016, 10:37 AM aweingarten <notifications@github.com> wrote:

[2016-11-19 16:58] charlieartist commented on #105
@aweingarten Also, would be good to prepare contingencies for non-JS users in the interest of progressive enhancement.

[2016-11-19 16:59] aweingarten commented on #105
it's 2017 who are these non-js users?

[2016-11-19 17:02] charlieartist commented on #105
This is DC. Even at FNM, we have plenty of Web resources blocked due to security protocols. For a lot of my work, I'm using a third-party VPN over the guest WiFi just to access some Websites. Also, back at Natcher, third-party font serving (Google) was also blocked to in-house machines.

[2016-11-19 17:09] aweingarten opened #106 "Style a footer"
() Create a styleguide component for the footer.
() should have a link to the privacy policy page.  If one does not exist create one on dev.
() "Graciously hosted by NIH NIH Library"

Questions:
() Should we have a fork us on github link?
() Should we have a link to code of conduct?
() Anything else?

[2016-11-19 17:10] aweingarten commented on #106
@timwood thoughts?

[2016-11-19 17:13] charlieartist commented on #106
@aweingarten @timwood I put items in the footer to get the conversation started. Ideally, our content team should be looking at this, and giving feedback. It's also advisable to plan for more space here, allowing that "magic footer" to hold links that shouldn't be in the main navigation. It's a diplomatic way to solve contentious IA disputes. So far, I've only heard from @timwood on the IA in gene

[2016-11-19 21:13] timwood commented on #106
Fork us on github could be cool, but we have a rather complex codebase, so the barrier to entry on contributing with PRs is high (it's not like the code is just MD content rendered into static site). BUUUUT this is a Drupal conference, so you never know who might want to contribute.

[2016-11-19 23:09] aweingarten commented on #106
eh I saw it on badcamp.  Thinking that other camps could steal stuff.  I like to look at other camp's code bases.  That being said not married to the idea.

[2016-11-19 23:30] aweingarten commented on #106
another good example link:  https://www.fldrupal.camp/

[2016-11-19 23:58] timwood commented on #106
I like how FLDrupal camp repeats their entire menu in the footer, like we did in 2015.

[2016-11-20 00:02] timwood commented on #106
I also like what DrupalCamp NJ has.
<img width="927" alt="screen shot 2016-11-19 at 7 01 16 pm" src="https://cloud.githubusercontent.com/assets/91050/20459321/b1850a98-ae8a-11e6-83f6-147e38e68e9b.png">

Let's do the "Fork us"!

[2016-11-20 23:13] aweingarten opened #107 "Create a Sponsor Content Type"
Create a new sponsor feature here:
- https://github.com/drupal-cod/sponsors

Add the following Fields
- Sponsor Url:  Title+Url
- Logo (image)
- Sponsorship level (Taxonomy Term)
- Related Attendees (User entity reference)

Need configurable view block that allows you to select a Sponsorship level  and only display the teasers for those sponsors.

[2016-11-21 00:27] charlieartist commented on #107
Also of critical importance--a flag or other indicator to reference payment status. This can be a major source of anxiety for accounts receivable.

[2016-12-05 01:02] aweingarten commented on #102
@mikemadison13

Tried setting up OG.  Had some issues:
1: Event Doesn’t have og
2: After enabling OG on event got error:
[code]
After reloading the issue went away.

3. One I added an OG to basic page locally.  I noticed that  the Groups audience Needs a dropdown.  Also need a way to set a default.  Also need a way to probably pass the OG via referrer. so that

[2016-12-06 03:47] jonraedeke commented on #106
Here's the footer in the latest mockup from @charlieartist .
<img width="890" alt="footer" src="https://cloud.githubusercontent.com/assets/2054715/20912353/b601f1e4-bb3c-11e6-948c-b76749cd1d3d.png">

[2016-12-06 21:21] onelittlebecca commented on #75
Oh GOOD! I was just thinking about this today. Glad this will be addressed.

[2016-12-19 18:02] jonraedeke opened #108 "Add color variables to theme"
@charlieartist Can you post the current colors here and I can add them to the subtheme as variables?

[2016-12-19 18:05] jonraedeke opened #109 "Add fonts to theme"
@charlieartist can you post your custom font you designed here so I can add it to the theme. I've got the Fira Sans google font reference in locally, but I'd like to add the display font as well.

[2016-12-19 18:29] jonraedeke opened #110 "Implement svg icons in theme"
@charlieartist sent me the svg icons for the theme. I will add the following to the theme:

- Add gulp-svgstore plugin
- gulp task for compiling all svg images into sprite (https://css-tricks.com/svg-sprites-use-better-icon-fonts/)
- document gulp task and svg approach in `/_theming-guide`
- add theme icon svgs to '/images' directory

[2017-01-02 13:04] jonraedeke opened #113 "Clone theme styleguide Twig template for customization"
In order to customize the Twig template for the KSS styleguide in the theme, we need to clone the default Twig builder.

- copy and rename 'node_modules/kss/builder/twig' to 'styleguide-builder/twig-govcon'
- set builder to the new one in gulpfile.js
- document

One example of needing to customize this template is for rendering a hidden SVG sprite at the top of the page.

[2017-01-04 03:37] jonraedeke opened #115 "New svg logo in subtheme"
Replace the logo svg and png in the subtheme with the one Karl designed.

[2017-01-04 03:40] jonraedeke opened #116 "Theme cleanup - Organize the SASS files"
Organize the SASS files in directories to better adhere to SMACSS. This will also make the styleguide easier to navigate.

[2017-01-04 21:36] lkopacz opened #117 "Improve Set Up Documentation - Feedback"

[2017-01-05 18:59] #113 closed

[2017-01-05 19:01] sarahjean commented on #116
👍

[2017-01-05 22:02] dmkelner commented on #30
We definitely want to collect where the user is located so that we can plan for potentially moving the conference in the future. This was discussed at last year's debrief.

[2017-01-06 04:25] charlieartist opened #121 "Static Splash Page Assets"
Static Splash Page assets--hand-coded HTML/CSS that will serve as a template for the Drupal theming.

[2017-01-06 17:18] mikemadison13 opened #123 "Update BLT to 8.6.6"
Specifically https://github.com/acquia/blt/issues/659 which is needed for https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/93

[2017-01-06 17:21] mikemadison13 commented on #123
https://github.com/acquia/blt/compare/8.6.5...8.6.6

[2017-01-06 18:25] prynncamm commented on #30
Are we able to add an check-box where registrants can opt-in to share their demographics and email with  our sponsors? Sponsors are willing to pay for such a list but I want to make sure that there is an opt-in mechanism.

[2017-01-06 18:29] charlieartist commented on #30
Amy--that sounds like, from a PII and UX standpoint, it should be opt-in. This is also where our privacy policy should be linked. And, on this, is there some type of COC that advertisers agree to regarding user data?

[2017-01-06 18:35] prynncamm commented on #30
@charlieartist Absolutely on all of those. I think privacy policy is still on my plate (unless someone else has worked on it. I got behind on Slack messages and gave up trying to catch up :stuck_out_tongue: ) and I'm working on a sponsor agreement for list use. They will HAVE to be CAN-SPAM compliant and I will be seeding the list with several of my and my colleagues email addresses to make sure.

[2017-01-06 19:59] mikemadison13 commented on #30
i think we will need to be very cautious about what we do with this data, obviously we should get the requirements for the form itself right, but then we also need to consider how that data will be used in views (and to @prynncamm's point the sponsor data dumps) to ensure that the "rules" for how that data is handled is respected.

i would propose that it is in scope for this task to add the other

[2017-01-07 17:50] lkopacz commented on #75
@aweingarten I can also help out with this :)

[2017-01-07 17:51] lkopacz opened #125 "Create Hero Basic Twig Template and Styling"

[2017-01-07 17:55] charlieartist commented on #75
@lkopacz I'm testing the colors through filters--please let me know if you see if anything needs updating. Also will be checking on type sizes, et. al. More wires/mocks should be up soon.

[2017-01-07 18:17] lkopacz commented on #75
@charlieartist fabulous! I will keep you updated!

[2017-01-08 03:52] #109 closed

[2017-01-08 04:08] #116 closed

[2017-01-09 12:39] #110 closed

[2017-01-12 16:21] #123 closed

[2017-01-12 19:58] mikemadison13 commented on #93
the BLT 8.6.6 approach now automatically sanitizes the database on the post db update cloud hook.

i've started experimenting with how to clear the acquia connector and cloudflare config. one method is to uninstall / reinstall the modules using a cloud hook. @aweingarten and I have also discussed writing a custom hook for sql-sanitize (which I have started but the query isn't working) to wipe the

[2017-01-15 17:15] sarahjean opened #129 "Update BLT and make sure VM settings and Composer are up to date"
On latest version of project, running `blt local:refresh`, the build fails with the following issue:

[code]

It seems like composer needs some updates and possible the config.yml for the vm.

[2017-01-16 16:08] charlieartist opened #131 "Update Wiki with project.local.yml settings"
Currently, when a new contributor follows the wiki instructions, they will be hit with errors when standing up their local build without changing line 5 in /box/project.local.yml from `local: capitalcamp.local` to `local: self`. This should be added to the instructions for those doing a first setup.

[2017-01-19 21:16] charlieartist opened #134 "Update Styleguide"
This is my first stab at updating the style guide.

[2017-01-19 21:44] lkopacz opened #135 "Block Component Styling."

[2017-01-25 03:48] jonraedeke commented on #106
I'm going to close this since the footer component is styled in the styleguide and merged in. I'll open a new ticket for creating the footer block and adding it to a region in the actual theme.

[2017-01-25 03:48] #106 closed

[2017-01-25 03:50] jonraedeke opened #137 "Create footer block and display in a theme region"

[2017-01-28 20:26] lkopacz opened #138 "Create Hero Componenet Blocks"

[2017-02-01 02:43] jonraedeke opened #141 "Create custom nav block and place in theme"
- Custom nav block to house the responsive nav component
- Wire up the main menu
- Add test

[2017-02-02 01:46] charlieartist opened #142 "Create Homepage CTA Blocks"
Build components for CTA blocks above footer on homepage.

[2017-02-02 22:00] mikemadison13 opened #143 ".gitignore breaking theme in cloud"
the .gitignore in the 2017 custom theme is causing problems on deployment.

[2017-02-02 22:28] #143 closed

[2017-02-04 22:20] jonraedeke opened #145 "Fix gulp task for svg sprite errors"
Error happens right after minify:css task.

`[17:00:23] Finished 'minify:css' after 2.24 s
Error parsing twig template @builderTwig/index.twig:
Error: ENOENT: no such file or directory, stat '/Users/jmr6/Sites/Drupal-GovCon-2017/docroot/themes/custom/twentyseventeen/images/svg-sprite/images.svg'
`

[2017-02-06 03:47] jonraedeke commented on #145
Error still happening intermittently.

`Error parsing twig template @builderTwig/index.twig:
Error: ENOENT: no such file or directory, stat '/Users/username/Sites/Drupal-GovCon-2017/docroot/themes/custom/twentyseventeen/images/svg-sprite/images.svg'
`

I think it is because index.twig has an include for that image.svg sprite, but it is not generated yet. Also, I'm adding the generated sprite to .g

[2017-02-06 04:18] #145 closed

[2017-02-06 17:52] #141 closed

[2017-02-06 17:53] jonraedeke opened #152 "Add second and third level nav links to main nav block component"

[2017-02-08 01:29] aweingarten commented on #152
Closed and complete!

[2017-02-08 01:29] #152 closed

[2017-02-08 01:29] aweingarten commented on #138
Closed and complete

[2017-02-08 01:29] #138 closed

[2017-02-08 01:30] aweingarten commented on #105
work complete

[2017-02-08 01:30] #105 closed

[2017-02-08 01:31] aweingarten opened #157 "Fix Jittery Main Menu behavor for authenticated users"
When logged in the second level nav items seem to loose focus on hover

[2017-02-08 01:31] aweingarten commented on #137
COMPLETED!

[2017-02-08 01:31] #137 closed

[2017-02-08 01:33] aweingarten opened #158 "Remove the Page title from the block layout config"
Go to the block layout and remove page title.
export CMI and commit the changes that account for the block title.

[2017-02-08 05:18] aweingarten opened #160 "Fix Z-index of Nav Dropdown"
<img width="849" alt="screen shot 2017-02-08 at 12 15 50 am" src="https://cloud.githubusercontent.com/assets/6517820/22724444/1e0ff28e-ed94-11e6-9999-43604c09ca1b.png">

[2017-02-08 05:19] aweingarten commented on #160
@jonraedeke or @lkopacz should be a quick fix!

[2017-02-08 14:43] timwood commented on #160
Focus is also lost (the menu closes) when you move your mouse down the menu. This happens as soon as your mouse gets to the hero graphic.

[2017-02-08 14:44] timwood commented on #157
This is happening for anonymous now. See #160

[2017-02-09 02:54] lkopacz commented on #158
I will take this on.

[2017-02-09 03:03] lkopacz commented on #158
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/161

[2017-02-09 03:27] lkopacz commented on #160
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/162

[2017-02-10 01:00] charlieartist opened #164 "Update Typographic Styling on Homepage"
Homepage text needs updates, applying CSS per the original comps. This will fix readability, while maintaining content hierarchy. Refer to image below.

![1880-govcon17_sitemock-02-desktop_01home_v07](https://cloud.githubusercontent.com/assets/3085730/22809741/5b7386da-ef02-11e6-91ce-3c44e8fddd7a.png)

[2017-02-10 01:02] charlieartist opened #165 "Update Hero Image Placement"
Currently, on the homepage mock, the hero image appears to be in the main content area, and should be in the hero area immediately below the navbar. In addition, it's full width, while the main body area is not.

Please refer to the comp for placement:
![1880-govcon17_sitemock-02-desktop_01home_v07](https://cloud.githubusercontent.com/assets/3085730/22809797/ae6ee262-ef02-11e6-8fd2-14d69826a8f8.pn

[2017-02-10 13:22] charlieartist commented on #165
I moved this custom block to the header region last night, and deleted the instance in the main content area.

[2017-02-10 13:25] charlieartist commented on #164
Further investigation indicates that currently, CKeditor does not allow for either div elements or CSS classes to be added to text fields, which will make typographic design challenging. This could be changed by altering allowed elements per user role in CKeditor, but my present some other issues, and needs to be discussed.

[2017-02-13 15:53] vadnguyen opened #168 "Update Site Structure to match menu structure (or vice versa)"
From @jess - "after talking with @dmkelner  i updated and added some content to the site. I didn't touch the home page (swear)... but it's no longer there.  When you look at the menu structure, and the individual nodes, they correct site structure is there (pages are in the appropriate groupings AND in the right order)... however what's being displayed on the site does not match what the menu stru

[2017-02-13 15:55] vadnguyen opened #169 "Update external links to include visual indicator"
1: Add the module to the codebase by doing the following `composer require drupal/extlink`
2: Commit the composer.json and composer.lock as a single commit.
3: Enable the module locally, configure it.
4: `drush cex`
5: Commit the relevant CMI

See here for details about adding new composer dependencies
https://www.jeffgeerling.com/blog/2017/tips-managing-drupal-8-projects-composer

[2017-02-13 21:34] aweingarten commented on #158
Merged fixed.

[2017-02-13 21:34] #158 closed

[2017-02-13 21:37] aweingarten commented on #160
Verified on Dev.  Closing!

[2017-02-13 21:37] #160 closed

[2017-02-13 21:38] aweingarten commented on #165
Fixed!

[2017-02-13 21:38] #165 closed

[2017-02-14 00:38] lkopacz commented on #169
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/170

[2017-02-14 02:34] mikemadison13 commented on #16
a quick update:

OG itself seems to work with the CMI (not with Features). However, on BLT projects when the CMI import happens, the config stored in the config/install folder of the event module doesn't work (it works fine after performing a pm-uninstall / en). So, this may be problematic for projects relying on BLT. I will continue to dig on this. My hunch is that a feature would not have this p

[2017-02-14 12:49] aweingarten commented on #169
Confirmed on Dev!

[2017-02-14 12:49] #169 closed

[2017-02-14 12:50] aweingarten opened #171 "Update Acquia Purge Module"
Cache Clearing is currently broken.
- Uninstall purge url queuer.
- Update acquia purge module.

[2017-02-14 13:49] timwood opened #172 "Govcon logo doesn't line up vertically with main menu items"
Desktop:
<img width="542" alt="screen shot 2017-02-14 at 8 48 10 am" src="https://cloud.githubusercontent.com/assets/91050/22931374/5ef515e2-f292-11e6-9a67-00949e437727.png">

Mobile:
<img width="321" alt="screen shot 2017-02-14 at 8 47 45 am" src="https://cloud.githubusercontent.com/assets/91050/22931373/5ef0a4a8-f292-11e6-941b-f3bfde682a34.png">

[2017-02-14 13:51] timwood opened #173 "Don't apply external link visual indicator to Twitter & Facebook links in footer"
And anywhere else special, styled links like this reside?

Probably easiest to use Extlink modules CSS matching configuration feature to exclude those selectors.

<img width="304" alt="screen shot 2017-02-14 at 8 42 36 am" src="https://cloud.githubusercontent.com/assets/91050/22931444/a8c20266-f292-11e6-9320-16bbd07c7297.png">

[2017-02-16 02:30] lkopacz commented on #173
Thanks for catching this @timwood. Should be fixed now.

https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/175

[2017-02-16 14:51] charlieartist opened #176 "Place Hero Block"
Hero block to be placed in header region, so that it displays in the proper area.

[2017-02-16 19:23] charlieartist opened #177 "Add Node Version File"
For users running multiple versions of Node.js and AVN, this file will automatically select the proper version of node to run for the GovCon project. Here, it's set to 6.9.5, which is the most stable current build.

[2017-02-16 21:20] charlieartist opened #179 "Modify Project.yml File for Local Use"
Since we're standardizing running commands out the the VM, the local host settings need to be edited for this to run properly.

[2017-02-17 14:50] charlieartist opened #185 "Revised Homepage Typography"
Based on latest edits, homepage typography needed updating. This is for the launch MVP, with custom classes.

[2017-02-17 17:36] charlieartist opened #188 "Enhance Site Typography"
Now that the major elements have been added, it's time to clean up some of the site typography, especially when it comes to heading elements.

[2017-02-17 18:52] timwood commented on #79
Can the Drupal-generated sitemap.xml contain non-Drupal content?

[2017-02-17 18:59] timwood opened #191 "Add links to 2015 and 2016 static archive sites to footer"
For now we've added links to archive sites on the /about page, but it might be good to have in the footer like how these sites did it:

https://www.fldrupal.camp/
![image](https://cloud.githubusercontent.com/assets/91050/23079050/2a1fdbb6-f519-11e6-9de9-52853591a61b.png)

https://www.drupalcampnj.org/
![image](https://cloud.githubusercontent.com/assets/91050/23079043/239977fc-f519-11e6-943e-c3faec

[2017-02-17 19:25] jdearie commented on #88
Here's the 2017 IA:

HOME

ABOUT
What is Drupal GovCon?
Ticket Info
Important Dates
Schedule at a Glance
Accessibility
About Drupal4Gov
News

PROGRAM
Become a Speaker
Propose a Training
Sprints
Birds of a Feather
Mentoring
Social Events
Session Tracks
Proposed Sessions

TRAVEL
Hotels
Getting Here
Visit the DMV
Travel Discounts

COMMUNITY
Code of Conduct
Looks Who’s Coming (dynamic page of register

[2017-02-17 21:41] charlieartist opened #193 "Add Favicon to Theme"
Favicon to be added to theme.

[2017-02-17 22:31] sarahjean opened #196 "Secondary banner components should be block links"
The secondarybanner components at docroot/themes/custom/twentyseventeen/sass/components/secondarybanner should be block links, currently the links are around just the text.

[2017-02-18 04:03] timwood opened #200 "Tweak archive site redirects to append .html"
Google search results has a lot of pages such as https://www.drupalgovcon.org/drupal-govcon-2016/program, which now 404 in the new Drupal site when they should redirect to https://www.drupalgovcon.org/drupal-govcon-2016/program.html (appending the .html)

[2017-02-18 04:07] timwood opened #201 "Fix CloudFlare cache purging"
After entering the CloudFlare API credentials, when editing a node, the CloudFlare cache for that page is still not purged. The resulting error is related to our CloudFlare account being the free version which doesn't support purging by tag. I didn't see a Drupal config option for CloudFlare module to purge by individual path. Not sure how to resolve this without paying for CloudFlare or disabling

[2017-02-21 22:24] dmkelner commented on #172
And should be a larger target.

[2017-02-21 22:25] dmkelner commented on #188
Adjust the line length so it doesn't go end to end on a widescreen.

[2017-02-22 00:04] charlieartist commented on #172
This should not display for desktop. I have it in notes to address.

[2017-02-22 00:31] jdearie commented on #157
i don't see this as anon... can we close?

[2017-02-22 01:10] jonraedeke commented on #157
I don't see a jittery menu either. Feel free to re-open if you do.

[2017-02-22 01:10] #157 closed

[2017-02-22 01:24] jonraedeke commented on #172
I can fix this one. @charlieartist , is the big hero with logo supposed to be on all the interior pages as well? Just making sure there is a way to get back to the home page on desktop if the small logo is hidden.

[2017-02-22 13:02] jdearie commented on #173
Closing since it looks like this is good now.

[2017-02-22 13:02] #173 closed

[2017-02-22 13:10] jdearie opened #203 "Contact page not configured"
The contact link in the footer goes to a blank contact page...  which had this message "The contact form has not been configured. Add one or more forms ."

So I created a contact form... but I don't see how I get the form onto the actual page. ???
/admin/structure/contact shows the form

[2017-02-22 18:23] jdearie commented on #107
@charlieartist - it's my understanding that we are handling payment etc of sponsors external to the site... we're using eventbrite. if we'er talking about for future, sure... but right now we just need to be able to display sponsors on the site...

[2017-02-22 18:26] jdearie commented on #107
We need a view (and likely blocks/panels) for all sponsors by sponsorship level:
Level (# available) (levels listed in highest cost to lowest)

Core (3)
Coffee (1)
Contributor (4)
Mentor (2)
Sprinter (2)
Exhibitor (20)
Supporter (unlimited)
Personal (unlimited)
Training (4-8)

[2017-02-22 22:58] mikemadison13 commented on #16
see PR for this on the drupal-cod/event space https://github.com/drupal-cod/event/pull/1

[2017-02-24 18:29] charlieartist opened #205 "Fix Order of Elements on Homepage"
Currently, the homepage CTA blocks are above the main content. To fix it, the order should be:

- Main page content
- CTA Blocks

[2017-02-25 18:43] timwood opened #206 "Change drupal4gov email address everywhere on the site"
From drupal4gov@gmail.com to info@drupal4gov.us OR sponsor@drupal4gov.us.

[2017-02-25 19:46] timwood opened #207 "Facilitate embedded google form for volunteer page"
Google form uses an Iframe

* Open up WYSIWYG?
* Create a block to embed with panelizer
* Simple link to the google form

[2017-02-25 19:52] jdearie opened #208 "Individual Donations"
ideally we have the ability to allow users to choose to donate to drupal4gov.  ideally upon registration and then also a general button for folks to donate anytime.

[2017-02-26 14:25] charlieartist opened #209 "Style Sponsor Block and Page"
![1880-govcon17_wireframe-02-desktop_sponsors_v03](https://cloud.githubusercontent.com/assets/3085730/23342005/45a8ce20-fc20-11e6-98c2-728e765eb53a.png)
![1880-govcon17_wireframe-02-desktop_home_v03](https://cloud.githubusercontent.com/assets/3085730/23342008/45d96d96-fc20-11e6-8519-40436df52a1e.png)
![1880-govcon17_wireframe-01-mobile_sponsors_v03](https://cloud.githubusercontent.com/assets/30857

[2017-02-27 04:39] lkopacz commented on #203
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/210

[2017-02-27 19:55] timwood commented on #208
@jdearie Is it important for donation on registration to be integrated into the entire registration flow, not taking the user away from the task of registering? Would it be good enough to leverage (and highlight) the same general donate button, at the end of the registration process? Integrating donation in registration workflow/process likely means more work and probably contrib modules.

Is this

[2017-02-27 19:55] jdearie commented on #72
they are currently in the footer.  closing.

[2017-02-27 19:55] #72 closed

[2017-02-27 23:23] jdearie commented on #209
just make sure the levels match what's in the prospectus (as listed on /sponsor) - they are different this year.

[2017-02-28 00:17] lkopacz commented on #205
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/211

[2017-02-28 00:32] sarahjean opened #212 "Page title block should only show on basic page"
Currently also showing on landing pages

[2017-02-28 00:36] jdearie opened #213 "Setup Ticket/Event Registration"
This issue is related, but separate, from User Registration (issue #30)

The fields listed below should be included in the ticket registration process.  Asterisk indicates a required field.

**Attendee e-mail address** [text field] *
_Enter the e-mail address of the recipient who will use this ticket. If you are registering for someone else, please enter their email address._

[checkbox] Email red

[2017-02-28 00:55] lkopacz commented on #212
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/214

[2017-02-28 00:57] jdearie opened #215 "add brought to you by Drupal4Gov in the footer"
Relates to #191

somewhere in the footer - perhaps above or below the NIH text.

"Brought to you by Drupal4Gov"  link to www.drupal4gov.us
Maybe include the D4G logo?  (see twitter.com/govdrupal or the drupal4gov website for logos)

[2017-02-28 01:26] jdearie commented on #30
updated and final user account registration (separate from ticket registration at #213 )

# REQUIRED CRITERIA

| Criteria | Why? |
| --- | --- |
| First Name | Identifier for the attendee |
| Last Name | Sortable identifier for the attendee for check-in |
| Email | So we can communicate with them |

# OPTIONAL CRITERIA
| Criteria | Why? |
| --- | --- |
| Drupal.org Username | Identifier |
| Pictur

[2017-02-28 03:55] charlieartist commented on #205
IOW, this is good to close now, isn't it.

[2017-02-28 16:24] sarahjean commented on #205
Hasn't been deployed to prod yet

[2017-02-28 21:23] aweingarten commented on #107
Work completed and merged by @malikkotob

[2017-02-28 21:23] #107 closed

[2017-03-01 00:16] jdearie commented on #107
Sponsor sort order (highest to lowest)

Core (3)
Coffee (1)
Contributor (4)
Mentor (2)
Sprinter (2)
Training (4-8)
Exhibitor (20)
Supporter (unlimited)
Personal (unlimited)

[2017-03-01 17:42] #79 closed

[2017-03-01 18:04] mikemadison13 opened #218 "Enable User Registration + Update Permissions"
Currently the User Registration is disabled on the site despite work being done on https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/30. This ticket is to enable user registration (and save to CMI) and update permissions so that anon/registered users can use the appropriate features.

- [x] Enable User Registration (and add to CMI)
- [x] Give anon/auth users access to the Simple Text text fo

[2017-03-01 18:07] mikemadison13 opened #219 "Style User Registration Form"
A few styling issues that should be looked at on the user registration form (re: https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/30)

- [ ] Visually there is no difference between the required / not required fields
- [ ] Updating spacing between fields
- [ ] Ensure styling of form elements is consistent with the rest of the visual design (buttons, etc.)

[2017-03-01 18:20] mikemadison13 commented on #30
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/220

[2017-03-02 23:34] aweingarten commented on #209
@charlieartist,
Here is the sass for styling:

https://github.com/Drupal4Gov/Drupal-GovCon-2017/blob/master/docroot/themes/custom/twentyseventeen/sass/components/sponsor-listing/_sponsor-listing.scss

https://github.com/Drupal4Gov/Drupal-GovCon-2017/blob/master/docroot/themes/custom/twentyseventeen/sass/components/sponsor/_sponsor.scss

[2017-03-03 13:28] jdearie commented on #193
i see this on the live site now. can we close?

[2017-03-03 17:22] jdearie commented on #209
can we please move Training Sponsors above Exhibitor Sponsors on the page please?

[2017-03-03 21:46] charlieartist commented on #209
@jdearie Thanks for the info--we'll get it moved. Also, copy was added to the homepage block, and will be coming to the main page as well:
Interested in sponsoring Drupal GovCon? See what's available here.

[2017-03-04 18:20] charlieartist opened #226 "Style Internal Page Header"
Create internal page header to be used on all internal basic pages, forms, and view displays. This will also add the home link (via the site logo) all pages in desktop/wide view.

[2017-03-06 21:49] sarahjean opened #230 "Main menu ordering doesn't seem to support link weights"

[2017-03-06 21:50] sarahjean opened #231 "Need a homepage link/logo or header for internal pages"

[2017-03-06 21:52] charlieartist commented on #231
This is a duplicate of https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/226

[2017-03-06 21:53] sarahjean commented on #231
See above

[2017-03-06 21:53] #231 closed

[2017-03-06 23:02] mikemadison13 commented on #15
this should be completed before https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/30 goes live

[2017-03-07 00:18] mikemadison13 commented on #30
i've setup captcha, recaptcha, and honeypot for this now as well

[2017-03-07 02:00] charlieartist opened #232 "Style Internal Page Header"
Rebase borked on previous issue. This is clean.

[2017-03-07 02:30] lkopacz opened #233 "All checkbox inputs are set to display: none and visibility: hidden"
This seems to be due to the menu toggle for the mobile menu. Can we target that checkbox more specifically so checkboxes by default aren't hidden? We need them on our registration forms.

[2017-03-13 22:21] mikemadison13 commented on #203
@jdearie this has been merged and should be on its way to the dev site

[2017-03-13 22:50] mikemadison13 commented on #15
this has been done / merged as part of DGC-30

[2017-03-13 22:50] #15 closed

[2017-03-13 22:52] mikemadison13 commented on #30
this has been merged and should be on its way to dev.

[2017-03-13 22:52] #30 closed

[2017-03-14 03:35] dmkelner commented on #209
The home page needs styling as well. Logos are way too big and look unprofessional.

[2017-03-14 14:57] mikemadison13 commented on #207
@jdearie believes this is the correct form to imbed: https://drive.google.com/open?id=1E4za4HOA4dbMLY31JuSiO3FnATmTfnRj72301R5OIHU

[2017-03-16 20:41] aweingarten opened #239 "Replace Custom Block for Menu with a Drupal Menu Block"
Currently we are using a totally custom block which lacks a lot of the capabilities of the drupal menu block. It lacks ordering and show/hiding menu elements.  Replace with drupal menu block

[2017-03-16 20:43] aweingarten opened #240 "Bring back home icon desktop"
Lets show the home icon on desktop.

[2017-03-19 02:20] jonraedeke commented on #233
Sorry about that. Fixing now.

[2017-03-20 21:03] #233 closed

[2017-03-21 02:25] charlieartist commented on #240
This isn't necessary or desirable for UX, since it will be a redundant item. There is a home link via the site logo on every page now, as designed.

[2017-03-21 02:27] charlieartist opened #244 "Fix Form Styling"
Some HTML elements in Drupal Webform were broken, the solution has now been found to fix these and make the UX improvements  needed.

[2017-03-21 02:39] #244 closed

[2017-03-21 02:40] charlieartist opened #245 "Fix form Styling"
Some webform element UX was left undone due to positioning being left off the CSS. The solution was found, and is being applied here.

[2017-03-22 01:54] jonraedeke opened #247 "Resize sponsor logos consistently"
Using a photoshop template @charlieartist provided, I resize the sponsor logos so they are more consistent.

[2017-03-22 01:55] jonraedeke commented on #247
The logos are resized and uploaded.

[2017-03-22 01:55] #247 closed

[2017-03-23 12:27] charlieartist opened #249 "Create Hero CTA Items"
To encourage signup and registration, special call-to-action widgets will be added to the hero, to display on the homepage and landing pages.

[2017-03-23 18:02] carsonblack opened #251 "Table 'drupal.sessions' doesn't exist after build"
Hello,
Thank you for open sourcing this.
After I do the full build (it finishes successfully) and I visit http://local.capitalcamp.com/ I get the following error:
The website encountered an unexpected error. Please try again later.
Drupal\Core\Database\DatabaseExceptionWrapper: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'drupal.sessions' doesn't exist: SELECT session FROM {sessions}

[2017-03-24 00:01] aweingarten commented on #230
Fixed by @jonraedeke in https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/248

[2017-03-24 00:01] #230 closed

[2017-03-24 00:01] aweingarten commented on #226
Complete

[2017-03-24 00:01] #226 closed

[2017-03-24 00:01] aweingarten commented on #232
complete

[2017-03-24 00:01] #232 closed

[2017-03-24 00:02] aweingarten commented on #209
complete

[2017-03-24 00:02] #209 closed

[2017-03-24 00:02] aweingarten commented on #193
complete

[2017-03-24 00:02] #193 closed

[2017-03-24 00:02] aweingarten commented on #176
complete

[2017-03-24 00:02] #176 closed

[2017-03-24 00:03] aweingarten opened #252 "Redirect 403 to login."

[2017-03-24 01:16] aweingarten opened #254 "Fix missing hero on homepage"

[2017-03-28 12:40] charlieartist opened #257 "Add CTA Items to Internal Headers"
To help with UX in the initial phases of registration, CTA buttons will be added to the internal headers, styled for responsive layouts.

[2017-03-28 15:26] onelittlebecca commented on #215
![d4g](https://cloud.githubusercontent.com/assets/9077705/24413427/626286f0-13a9-11e7-81ef-d433c0ec43ed.png)

just so y'all have it here

[2017-03-28 17:25] #254 closed

[2017-03-28 17:26] aweingarten opened #259 "Ticket Bugs"
[] Remove save draft
[]  Need visual indicator for required fields
[]  State/province not populating
[] Can’t register

[2017-03-28 17:42] aweingarten opened #260 "Need a view/block which shows a user's registration"
### Business Requirements
- As a user when I visit the users page I want to see my ticket registrations.

### Technical Requirements
- [ ] Create a block or view which shows all the submissions for a given user.

### Technical Note:
It looks like the UID data is at least in the webform_submission's table so this is is theoretically possible even if worst case we need to write a custom DB query

[2017-03-28 17:50] aweingarten opened #261 "Need Visual queue for logged in users"
## Business requirements
[] As a user when I am logged in I need a visual queue in the header that I am logged in and how to log out.

[2017-03-28 21:00] aweingarten opened #262 "Setup Post Save Redirects For Session and ticket registration"
## Business Requirements
[] As a user when I register for a session or ticket I want to be taken back to the /user page.

[2017-03-31 02:19] bheatonf1 commented on #260
https://www.drupal.org/project/webform_views handles integration of webform submissions with views. Created a view/block display with contextual filter for logged in user, relationship to uid of webform submitter  - hide view if no results. place block in content area of /user/* pages. Updated form permissions to allow viewing/editing of users own forms.

[2017-03-31 03:12] bheatonf1 commented on #259
I can probably work on this - do we want to use 'address' module?

[2017-04-06 22:57] bheatonf1 commented on #252
@aweingarten I can probably take this on as well. I presume we need a login page with a login block?

[2017-04-12 18:13] alisonjo2786 opened #269 "(Firefox) Links: Cursor is not "pointer""
### Requirements
- [ ] Fix cursor to be "pointer" for clickable things for Firefox -- see below.

#### Background
(Using Firefox 52.0.2 on Windows 7)

i.e. cursor for hero button-looking links is "text," and cursor for sponsor logos and social media links is "default".

[2017-04-12 18:28] alisonjo2786 opened #270 "Travel page: NIH/Natcher address"
### Requirements
- [ ] Make address on Travel page "clickable" -- see below.

#### Background
Address for Natcher on Travel page should have that fancy HTML5 thing that makes the address clickable.
https://capitalcampdev.prod.acquia-sites.com/travel

![image](https://cloud.githubusercontent.com/assets/2660348/24973318/4ea4d1ba-1f8c-11e7-93eb-35a30c384af8.png)

[2017-04-12 18:37] alisonjo2786 opened #271 "[ignore] Language tweaks (ongoing notes)"
https://capitalcampdev.prod.acquia-sites.com/present

* Title (and menu link text) should be "be a speaker" not "become" -- it's just awkward/non-normal as "become"
* First heading, I'm 92% sure "will" should be lowercased ("Session Submissions Will Open Soon")
* First section, last sentence -- "Sessions are submitted via track (see below), and experience level (beginner, intermediate, advanced)."

[2017-04-13 01:36] lkopacz opened #272 "Create Proposed Sessions view"

[2017-04-13 21:39] alisonjo2786 opened #274 "Log in page: superfluous User Sessions heading"
https://capitalcampdev.prod.acquia-sites.com/user/login
![image](https://cloud.githubusercontent.com/assets/2660348/25025393/14981b0a-2070-11e7-9506-d80f291135d3.png)

[2017-04-13 21:48] alisonjo2786 opened #275 "(Firefox) Log in page: Page is scrolled-down on load"
When I go to [login page](https://capitalcampdev.prod.acquia-sites.com/user/login), when the page loads, the username input field is selected and the page is awkwardly scrolled down so that the username input field is at the top of my viewport -- annoying and confusing, but even more so if I get my PW wrong, b/c I can't see the error message, and honestly the first time I thought that I hadn't cli

[2017-04-13 21:54] alisonjo2786 opened #276 "Need logout link"
I don't see a logout link anywhere when I'm logged-in as a regular person.

[2017-04-13 22:06] alisonjo2786 opened #277 "Register / new user workflow is confusing"
## Technical Requirements
() after a user creates a new account redirect them to the ticket registation page.

##  Initial Research

[code]

Scenario:

New person clicks "Register" > "Create new account" > Fills in whole page > Click "create new account" button -- you end up on the homepage with a success message that says "Registration successful, you are now logged in." -- which implies that the

[2017-04-13 22:08] alisonjo2786 opened #278 "Homepage title"
### Requirements
- [x] Change site homepage title -- prob just remove page title overall, leave as just site name (but if that's not what people want, change it from "Updates" to... "Welcome" or "Drupal GovCon 2017 Updates" or similar).
  - **If we aren't sure what the new title should be, short-term fix:** Remove page title from the title, leave as just site name, and revisit later.

#### Backgro

[2017-04-13 22:17] alisonjo2786 opened #279 "New user email > misleading/incorrect email"
### Requirements
- [ ] Change text in email sent to "new user" immediately following user creating new website account: Completely replace the current email body with something like...

#### Background
TL;DR: New user email is misleading b/c you've already set a password and you're already logged-in.

When I created a new user account, I got an email that said "Thank you for registering at Drupal

[2017-04-13 22:19] alisonjo2786 commented on #274
(now I'm seeing it when I'm logged-in, too, so really, prob just need to hide this heading/block/whatever when there are no user sessions, right?)

[2017-04-13 22:21] alisonjo2786 opened #280 "Register/Submit Sessions buttons > Login > user page"
### Requirements
- [ ] Change register/session button > user login flow: If anonymous user clicks "register"/"submit session", after that user logs, in they should land on ticket/create-session forms, not user/UID.

**IMPORTANT: SEE ALSO** initial attempt results/info over on #277

###  Initial Research

[code]

### Background
As anonymous, I clicked Register/Submit Sessions, then logged-in (alrea

[2017-04-13 22:24] alisonjo2786 opened #281 "Create Session > Experience Level option list"
### Requirements
- [ ] On session ctype, change "experience level" field config so that options are listed logically, not alphabetically (i.e. Beginner then Intermediate then Advanced).

### Background
The Experience Level field is showing the options alphabetically, rather than in a more logical beginner-intermediate-advanced order :)

![image](https://cloud.githubusercontent.com/assets/2660348/2

[2017-04-13 22:37] alisonjo2786 opened #282 "Fieldset labels look like fields/buttons"
(Firefox and Chrome on Windows)

The fieldset labels look like something I'm supposed to click on -- like when I got to "sign up for news!" I thought that was like, a button?  I know it sounds silly, but it's styled exactly like the "Register"/submit button at the end of the form.  Anyway, here's what I see:

![image](https://cloud.githubusercontent.com/assets/2660348/25027081/2ca9aec2-2078-11e7-9

[2017-04-13 22:42] alisonjo2786 opened #283 "Conf reg: Company Information and Professional Experience: UX improvements needed!"
It's getting confusing and tedious and frustrating as I continue down the reg form from Company Information to Professional Experience -- the "how do you use Drupal" choices have overlap, the "how would you describe your company" options seem iffy (overlap and gaps at the same time), "select the industries that you work in" is suddenly asking about _**YOU**_ after the preceding fields within the f

[2017-04-13 22:52] alisonjo2786 commented on #283
We should fix this bit like, sooner than later!!  Unless "site builder" went away while I was asleep -- it didn't, did it??  I've always loved the term as being SO drupal... amirite @timwood ??

[2017-04-13 22:55] alisonjo2786 opened #284 "Conference registration success msg, "email sent to .""
The success message after the conference registration form says "Thank you for registering, an email is being sent to ." (with a blank at the end, no email address)

![image](https://cloud.githubusercontent.com/assets/2660348/25027452/b5635162-207a-11e7-9afd-31077a8dfd17.png)

[2017-04-13 22:58] alisonjo2786 opened #285 "User page: no register/submit sessions buttons"
(I understand not showing the header/banner/whatever it's called, but we'd still want it to have register/submit session buttons, right?)

[2017-04-13 23:05] alisonjo2786 opened #286 "Conf reg form: Location info fields"
* Shouldn't be collecting full address (https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/213)
* Country: Always nice to have "United States" at the top of possible!
* Address fields, including Address 2, are claiming to be required (there are asterisks) but they aren't actually required?

![image](https://cloud.githubusercontent.com/assets/2660348/25027583/c2f00b08-207b-11e7-99e2-18db671a0b

[2017-04-13 23:07] alisonjo2786 opened #287 "Required fields: Asterisk should be red (right?)"
Or some color other than the same color as the field label text?  I mean, right?  (If this is just me, then never mind, I just feel like the asterisks aren't as helpful if they aren't the normal/expected red -- or at least a different color so they stand out a bit.)

![image](https://cloud.githubusercontent.com/assets/2660348/25027667/797d74dc-207c-11e7-8cac-113f82fc5aee.png)

[2017-04-13 23:09] alisonjo2786 opened #288 "Conf reg: Confirmation email isn't what it's prob supposed to be (?)"
## Requirements
- [x] Include Thanks for registering for Drupal GovCon.
- [x] Make email appear to come from drupal4gov@gmail.com.   It's under site settings.  (If already fixed there, check webform settings/webform email settings.)
- [x] End of email message: Add something like...

## Background
It's a generic Webform submission email, doesn't even have webform name in the subject line haha, and

[2017-04-13 23:13] alisonjo2786 opened #289 "Fieldset labels sometimes overlap/bleed into fields"
(seen in Firefox and Chrome on Windows)

I'm seeing this bleeding/overlap on the "which days will you attend" fieldset, but not the "sign up for news" fieldset -- anyways, FYI:

![image](https://cloud.githubusercontent.com/assets/2660348/25027786/4a69ddb0-207d-11e7-8ef5-ba4f4aa43981.png)

[2017-04-13 23:17] alisonjo2786 commented on #286
Follow-up: Jess and I agreed that we shoudl also remove ZIP, no sense in having it if we already have city/state -- and no sense in having all three, b/c ZIP would tell you city/state, so we should have EITHER city/state OR zip, and there's no reason to have ZIP if we aren't doing a full mailing address :)

**In other words, please remove ZIP field, too!**

[2017-04-13 23:23] alisonjo2786 commented on #287
Duplicate of #219

[2017-04-13 23:23] #287 closed

[2017-04-13 23:23] alisonjo2786 commented on #219
#287 was duplicate of this

[2017-04-13 23:24] alisonjo2786 commented on #276
Duplicate of #261

[2017-04-13 23:24] #276 closed

[2017-04-13 23:24] alisonjo2786 commented on #261
#276 was duplicate

[2017-04-14 21:16] jdearie commented on #283
i think site builder was intended to be captured under: Site Administrator, but i can see how that's confusing. Recommend renaming Site Administrator to Site Builder and add Content Manager as a new field.  Updated #213 to reflect that.

[2017-04-14 21:19] jdearie commented on #277
Agreed. We need additional language on the user registration confirmation page that tells folks they are registered on the site but NOT for the event.

The Register button on the confirmation page gives no indication that it will take you to the ticket registration.

While I understand on a technical level why user registration and ticket registration are separate, to most users they are not. Perh

[2017-04-14 21:22] jdearie opened #291 "Program - Register to Attend menu link broken"
## Issue
The Program - Register to attend link is broken.  Points to /form/register which returns a page cannot be found.

## Solution
- [ ] There is an update hook that adds these links.  Update it to fix the broken link.  The correct link can be found on the hero.
- [ ] Update manually on dev.

[2017-04-14 21:25] jdearie opened #292 "Required fields around site, most importantly on Conf reg (ticket) form"
_This issue is specifically about the Conf reg (ticket) form, but most of the notes are applicable sitewide._

### Requirements
- _[MOVED to separate GH issue: #317 ]_ "Attendee email" field: Keep as "required," and update help text to be:

    - _See "ALSO..." below_
- [ ] Fix fishyness with "please do this field" popup -- or disable it -- or disable it and add a message at the very top of the fo

[2017-04-14 21:25] alisonjo2786 commented on #277
So technically that's what's sorta happening now -- that's why when you click "Register" and you're anonymous, it says "You must be logged in to view this page" or whatever the language is.  I think then it may have been intended for the user login/new account form to drop you off at the ticket reg form after you've authenticated, but it just isn't set up to do that yet?

[2017-04-14 21:30] jdearie opened #293 "User Session header displaying on user pages"
The User Sessions header displays on what appears to be every User page.

It's on the login page and the create new account page.

If we need to have it, we should add descriptive text on what would show there if there was anything to show!

[2017-04-14 21:35] jdearie opened #294 "Attendee email address required but not"
The field is marked as required yet the descriptive text allows for you to leave it blank.

Field should not be required (if empty, email goes to logged in user's email address).

Descriptive text should be clearer:
_Enter the e-mail address of the recipient who will use this ticket. Leave blank to receive a redemption code for this registration that you can then forward on to whomever you like._

[2017-04-14 21:36] jdearie commented on #289
same in Safari/Chrome on Mac.

The dark blue fields are overpowering the field labels... it's kinda hard to read.

[2017-04-14 21:50] jdearie commented on #283
The full list of options identified in #213 included non-profit and a few others. I think we need to bounce all the form fields against what's in #213 to ensure they match.

Here's the list of what should be for company info:

Advertising, Marketing, PR
Agriculture, Forestry, Fishing
Construction
Education
Finance, Insurance, Real Estate
Government
Hospitality, Travel
Manufacturing
Media
Medical,

[2017-04-14 22:10] jdearie opened #295 "Session Tracks"
## Technical Requirements
() Update the updatehook that has these taxonomy terms
() Manually update dev.

## Issue:
Ensure session tracks match our new options.  They are listed below and at https://www.drupalgovcon.org/present

Site Building
Front End
Back End
DevOps
Business (Gov, Non-Profit, Commercial)
End Users / Content Management / Project Management
Design/UX
Community

[2017-04-14 22:16] jdearie opened #296 "Become a Speaker vs Submit a Session in menu"
Program menu currently contains links to both.

Submit a Session takes you to the actual form whereas the Become a Speaker page gives you info about becoming a speaker.

Recommend :
1. remove direct link to submit a session from the menu and only have become a speaker.
2. update become a speaker's first paragraph to announce session submissions opening with a link to the session submission form.

[2017-04-17 20:41] aweingarten commented on #293
Dup of
https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/274

[2017-04-17 20:41] #293 closed

[2017-04-17 20:41] aweingarten commented on #294
Dup of https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/294

[2017-04-17 20:41] aweingarten commented on #292
Note please also address anything mentioned here:
https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/294

[2017-04-17 20:56] aweingarten commented on #285
It looks like the buttons are not rendering correctly here:
https://capitalcampdev.prod.acquia-sites.com/user/login?qweqwe

But are on all other pages

[2017-04-17 20:59] aweingarten commented on #279
@alisonjo2786 what would be less misleading?

[2017-04-17 21:01] aweingarten commented on #277
"Congrats you now have an account on drupalgovcon.org.  Please go ahead and register for the event!"

[2017-04-18 00:26] lkopacz commented on #284
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/298

[2017-04-18 01:52] lkopacz commented on #292
@jdearie I am unable to recreate this error, but we are not supposed to be seeing the standard Drupal Error that was used in Drupal 7. The webform module uses HTML5 which has different default error handling than Drupal's former Handling. It goes through every item that you missed, one by one, if you missed it.

CC @aweingarten @alisonjo2786

<img width="1293" alt="screen shot 2017-04-17 at 9 48 2

[2017-04-18 01:57] lkopacz commented on #288
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/299

[2017-04-18 01:58] lkopacz commented on #283
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/297

[2017-04-18 16:05] charlieartist opened #300 "Create Custom 404 Page"
To fulfill a critical UX need, and extend the style of the Website, a custom 404 Not Found page is needed. As with the rest of the site, this will need to be responsive, and accessibility-compliant.

[2017-04-18 16:07] charlieartist opened #301 "Create Custom 403 Page"
To fulfill a critical UX need, and extend the style of the Website, a custom 403 Access Blocked page is needed. As with the rest of the site, this will need to be responsive, and accessibility-compliant.

[2017-04-18 18:04] alisonjo2786 commented on #279
@aweingarten The reason it's misleading is that you've already set a password and you're already logged-in.

So, like,

You've created an account on drupalgovcon.org.  Now you can go ahead and register for the event! [link to register]

Going forward, you can log in at [link] using:
username: ajm524
password: Your password

(or similar) ( @jdearie )

[2017-04-18 20:41] jdearie commented on #203
reopening since i noticed today that /contact is not available to anon users.
users get "You are not authorized to access this page."

[2017-04-18 20:43] #203 closed

[2017-04-18 20:44] jdearie opened #304 "contact page not avail to anon useres"
The contact page  "/contact" is not available to anon users.
users get "You are not authorized to access this page."

[2017-04-19 01:22] jonraedeke commented on #296
I'm a little confused on this one. At https://www.drupalgovcon.org/, I don't see a "Submit a Session" link. Also, is session submission open now or should I wait to make the content change on the "Become a Speaker" page?

@aweingarten Should create an update hook even if the production site menu is correct or is syncing with the prod DB sufficient?

[2017-04-19 01:25] jonraedeke commented on #296
Ah, I see. We just want the update hook to reflect the menu on prod so dev gets in sync. I'm going to assume we want to wait to change the content when announcing the session submission.

[2017-04-19 02:18] jonraedeke commented on #296
Adam recommended just editing the update hooks as an additional safe guard.

[2017-04-19 02:48] jonraedeke opened #306 "Main navigation block isn't placed in the header region in code"
Need to re-export the Navigation menu block config to make sure it is at the top of the Header region.

[2017-04-19 03:40] lkopacz commented on #286
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/307

[2017-04-19 03:41] jonraedeke commented on #239
I'm reopening this since I didn't realize this is not swapped on prod yet.

[2017-04-19 12:54] charlieartist commented on #282
Am looking at this now. For reference, the above URL is: http://local.capitalcamp.com/form/registration?destination=/user/
What I see happening is the fieldset label styling looks too similar to the buttons and dropdowns, which is indeed confusing. I'll work on restyling this.

[2017-04-19 13:35] charlieartist commented on #282
<img width="1268" alt="dgc-289_fixes_20170419" src="https://cloud.githubusercontent.com/assets/3085730/25182665/631f4f88-24e3-11e7-9113-c914830248c6.png">
This has now been modified--visual prominence has been decreased to behave more like a label and less like an interactive element such as a button.

[2017-04-19 14:43] aweingarten commented on #295
Mantually updated

[2017-04-19 14:43] #295 closed

[2017-04-19 14:49] alisonjo2786 commented on #282
@charlieartist I love this update, screenshot looks wonderful, thank you!

[2017-04-19 17:44] alisonjo2786 commented on #286
I'll have to look at the config change in the environment, I think -- the code change is just one long line, not super readable -- but, if street address and ZIP are removed, so it only shows city/state (and country), then great!

[2017-04-19 17:51] alisonjo2786 commented on #280
@aweingarten High priority

[2017-04-19 18:02] alisonjo2786 commented on #279
@aweingarten High priority

[2017-04-19 18:06] alisonjo2786 commented on #288
@aweingarten The first task is prob done, I just wasn't positive so I didn't check the box -- but I added a third task.

[2017-04-19 18:08] alisonjo2786 commented on #278
@charlieartist Does that make sense / what do you think?

[2017-04-19 18:10] alisonjo2786 commented on #277
@aweingarten @jdearie  Prob can mark this duplicate of #280 and #279 , yes?

[2017-04-19 18:12] charlieartist commented on #278
Agreed--there ought to be a welcoming UX, and this includes content!

[2017-04-19 18:15] alisonjo2786 commented on #278
@aweingarten at least the "short term fix" suggestion i added to ticket description should be done this week, IMO.

[2017-04-19 18:16] alisonjo2786 commented on #269
@charlieartist or @jonraedeke or @sarahjean (or, who are all our front-end ppl?): Is this something you might be able to do this week, or not realistically?

[2017-04-19 18:25] alisonjo2786 commented on #259
@aweingarten Issue can be closed, I think.

[2017-04-19 18:27] alisonjo2786 commented on #213
RELATED #292 and #286

[2017-04-19 18:45] alisonjo2786 commented on #292
@aweingarten @lkopacz Updated issue description with additional details and list of reqs as I see them -- @jdearie pls feel free to re-edit, of course!

[2017-04-19 18:46] alisonjo2786 commented on #292
@aweingarten High priority

[2017-04-19 18:53] alisonjo2786 commented on #292
More re: "post-submit"/"you missed these required fields" --

Here's the treatment of a select list:
![image](https://cloud.githubusercontent.com/assets/2660348/25196843/e3b9f0e0-250f-11e7-8f3a-52aba413af05.png)

But text box and checkbox fields are not given any red highlighting or whatever.

[2017-04-19 18:56] alisonjo2786 commented on #289
@charlieartist Maybe can be closed as dupe of #282 ?

[2017-04-19 18:58] alisonjo2786 commented on #277
Covered in #280 and #280

[2017-04-19 18:58] #277 closed

[2017-04-19 19:01] alisonjo2786 commented on #259
Seems to be complete or no longer relevant or something.

[2017-04-19 19:01] #259 closed

[2017-04-19 19:04] alisonjo2786 opened #310 "Conf reg (ticket): State field no good"
### Requirements

- [x] Add US territories to State select options. (see below for what to add) add a "--" after Wyoming, and then add the territories listed below
- [x] rename State/Province label to just _State_
- [x] remove Zip field
- [x] Put Country as first field in the field
- [x] let the ~~address,~~ city, and state fields be conditional. they only show up if you select United States from

[2017-04-19 19:05] alisonjo2786 commented on #310
@aweingarten High priority

[2017-04-19 19:08] alisonjo2786 opened #311 "Conf reg (ticket): News signup field"
### Reqs

- [x] ~~ensure that the news sign up field is required~~ - and that it's styled show that it's required.

[2017-04-19 19:08] alisonjo2786 commented on #311
Assigned to Jess to start with to get answer to initial question :)

[2017-04-19 19:11] alisonjo2786 commented on #294
Closed b/c dupe of #292

[2017-04-19 19:11] #294 closed

[2017-04-19 19:17] alisonjo2786 commented on #292
@jdearie I moved #294 over to this ticket, per request from @aweingarten.
- I added a vague task/checkbox to the top of the "requirements" list.
- I copied the issue details into a section at the bottom of the issue description, "ALSO..."

**Jess action:** Please review the checkbox I added to the top of the requirements list, and please add a screenshot of this field and the problematic label/des

[2017-04-19 19:22] alisonjo2786 commented on #304
@jdearie I don't get this problem -- when I go to https://capitalcampdev.prod.acquia-sites.com/contact and I'm not logged-in, I see the contact form.  Do you still have the problem?

[2017-04-19 19:31] alisonjo2786 opened #312 "Site contact form"
### Requirements
- [x] Contact form "message" field should be a textarea, not single-line text box.
- [x] Preview button does nothing -- the page with the contact form on it just like, reloads, but everything is exactly the same as before I hit the "preview" button.
- [x] Add submission confirmation -- currently, on submit, you're taken to site homepage without so much as a success message :(  Sho

[2017-04-19 19:31] alisonjo2786 commented on #312
@aweingarten High priority

[2017-04-20 14:21] jdearie opened #313 "Lodging menu item only shows up in menu when on Travel page"
The Lodging node is linked to from the menu as a sub of Travel.
However - the menu link only appears when you are on the Travel page. Any other page does not show Lodging as a drop down menu choice when you hover over Travel.

[2017-04-20 15:40] jdearie commented on #292
I took another look and tried registering for another ticket... the required fields notification works for nearly all the required fields.

I answered every field marked with an asterisk... the only thing I didn't do was complete non-required fields and the Participation Release section.  Clicking the Register button did nothing.  I didn't get a notification about required fields like I did for th

[2017-04-20 15:56] alisonjo2786 commented on #292
[tagged up with Jess outside github, she's going to post another update and screenshot in a bit]

[2017-04-20 16:07] alisonjo2786 opened #314 "Conf reg (ticket): Food prefs field"
### Requirements
- [ ] Remove extra "None" field option (currently have "None" and "No restrictions") -- so, from the top, select list options should be "- Select -" (unselected) then "No restrictions" then "Vegetarian" > etc.

Relates to #324 Standardize first select option across the site
_Related: [comment from Jess on other GH issue](#issuecomment-295846397)_

[2017-04-20 16:08] alisonjo2786 commented on #314
@aweingarten Changing "None" option should be a do-this-week task IMO.

[2017-04-20 17:08] charlieartist commented on #289
@alisonjo2786 That is the case. I'm closing it up now!

[2017-04-20 17:08] #289 closed

[2017-04-20 17:16] charlieartist commented on #285
Is this an issue of code not being pushed to dev yet? I just checked to see what's going on, and this is what I'm seeing:
<img width="1338" alt="20170420-govcon17-userloginpage" src="https://cloud.githubusercontent.com/assets/3085730/25243572/7a5542d2-25cb-11e7-8c48-1a00f9587b33.png">

[2017-04-20 17:36] alisonjo2786 commented on #285
@charlieartist Agreed -- I see them, too, prob was just b/c I submitted this issue a week ago!  Thanks!

[2017-04-20 17:36] #285 closed

[2017-04-20 18:27] jdearie commented on #292
ok so. a few updates:

- [ ] Attendee email descriptive/helper text should read "Enter the e-mail address of the recipient who will use this ticket. If you are registering for someone else, please enter their email address."  Keep it a required field.

- [ ] Food preferences field contains both "none" and "no restrictions".  Let's remove None, and replace the "-None-" default with "-Select-" that

[2017-04-20 18:45] jdearie commented on #304
nope. not an issue any more. weird. closing.

[2017-04-20 18:45] #304 closed

[2017-04-20 18:48] jdearie opened #315 "Register for a second ticket -"
## Technical Requirements
* [x] Update the hero's to say "Tickets" instead of "Register"
* [x] Update the views block on the users page for session submissions to say "Submit another session".  Include a link for the action.
* [x] Update the views block on the users page for ticket registrations to say "Register another ticket for someone else."  Include a link for the action.

## Background
After

[2017-04-20 18:58] alisonjo2786 opened #316 "Conf reg (ticket): Which days do you plan... (typo)"
### Requirements
- [ ] Fix help text for field_which_days_do_you_plan_to_attend_drupal_govcon -- missing word **you** before word **select**:
    ![image](https://cloud.githubusercontent.com/assets/2660348/25247694/99212b3c-25d9-11e7-886f-f2dc817c15c2.png)

#### Background
(from Jess)

Missing word in the Which days do you plan field collection. Text should read:
This helps us get an accurate coun

[2017-04-20 18:59] alisonjo2786 commented on #292
_re: Comment from @jdearie (directly above this):_

I'm checking off boxes when I've confirmed that the items are covered in this ticket ( #292 ) or some other ticket.
- First checkbox: Updated this issue ( #292 ) description to reflect specs in Jess's comment.
- Second: Updated #314 with specs in Jess's comment here.
- Third: Added new GH issue: #316
- Fourth: Updated this issue ( #292 ) descript

[2017-04-20 19:24] alisonjo2786 opened #317 "Conf reg (ticket): Attendee email field"
- [x] "Attendee email" field: Keep this field "required," but update help text to be:

_(See also: [comment from Jess over here](#issuecomment-295846397) )_

[2017-04-20 19:45] alisonjo2786 opened #318 "Conf reg (ticket) form: Required fields issues"
## Requirements

- [x] Separate "Yes, I have read and will adhere to the Drupal GovCon Code of Conduct and Media Policy" from the Participation Release field collection
- [x] Ensure "Yes, I have read and will adhere.."  field is required.
- [x] This "Yes, I have read and will adhere" field can be the last field on the page.
- [ ] Add styling for all form field types to indicate required better and

[2017-04-20 20:05] alisonjo2786 commented on #292
Per convo on Slack, replacing this monster mess of a GH issue with fresh issues for each piece: #317 for "attendee email," #318 for all the required field treatment stuff.

[2017-04-20 20:05] #292 closed

[2017-04-20 20:10] alisonjo2786 opened #319 "Session submission form: Missed required fields are illegible"
### Requirements
- [ ] Change styling of missed-required-fields on node forms (session submission) -- see screenshot below.

### Background
The white text on pink background is not readable :)

   ![image](https://cloud.githubusercontent.com/assets/2660348/25250494/c5d249c2-25e3-11e7-991a-8f482c3bdea5.png)

[2017-04-20 20:11] alisonjo2786 commented on #319
related-ish to #318

[2017-04-20 20:18] alisonjo2786 opened #320 "Session submission form: Fieldset styling"
### Requiements
- [ ] Improve node form (session submission) fieldset styling.

### Background
Fieldsets in session submission form are under-emphasized, especially compared to field labels.  Also, in FF there aren't even triangle icons to indicate collapse-functionality.

### 🌟 🌟 CHROME SCREENSHOT

   ![image](https://cloud.githubusercontent.com/assets/2660348/25250610/4f752492-25e4-11e7-8ccc-c2c

[2017-04-20 20:20] charlieartist commented on #320
@alisonjo2786 This is a serious UX issue. It probably has to do with some of the long class tags that Drupal is famous for. I'll take a look at this.

[2017-04-20 20:25] alisonjo2786 opened #321 "Session submission: File fields..."
- [x] Change _Slides_ field label to "Supporting Documents"
- [x] Update _Supporting Documents_ help text to say "Upload your presentation and/or any files referenced in your session.  You may also link to slides, code repos, or other external resources in the Description field."
- [x] Supporting Documents field should allow the following file type uploads: PDF, PPT, PPTX, key, odp, otp, and .odg

[2017-04-20 20:29] alisonjo2786 commented on #320
@charlieartist So I was just going to say, I think a lot of the visual issues I'm seeing are b/c the node-add pages are "meant" to use the admin theme, but auth users dont' have access to the admin theme...?  Maybe it would help as a starting point to tell node-add/edit pages to use site theme instead of admin theme, so it can be a uniform styling task for you...?  Just a thought based on my initi

[2017-04-20 20:34] alisonjo2786 opened #322 "Rich text editor permissions"
### Requirements
- [ ] Give authenticated role access to rich text editor / text format -- and/or add new (more restrictive) text format for authenticated users).

### Background
Session "description" field is plain text only, and it's like tiny text box, when I'm an auth user -- but it's a normal WYSIWYG field when I'm admin user.
   ![image](https://cloud.githubusercontent.com/assets/2660348/252

[2017-04-20 20:42] alisonjo2786 commented on #322
@aweingarten high priority

[2017-04-20 20:42] alisonjo2786 commented on #321
@aweingarten high priority

[2017-04-20 20:58] bheatonf1 commented on #312
I'll be taking this on.

[2017-04-20 21:05] mikemadison13 commented on #218
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/323

[2017-04-20 21:13] alisonjo2786 commented on #318
@aweingarten high priority

[2017-04-20 21:16] alisonjo2786 commented on #288
@jdearie Test this with latest code merge stuffs, if you have time?

[2017-04-20 22:00] jdearie opened #324 "Standardize first select option across the site"
- [ ] the first field of a select option needs to be consistent across the site.  Set all visible select options to "-Select-"

**background**
we have different values for the first select option across the site. Some say -Select-
some say -Select a Value- and some say -None-

[2017-04-20 22:48] jdearie opened #325 "Submit an additional Session"
After logging in, I can see my submitted sessions and update a session I've already created... but there's no link on the user page to submit another session.

I can get there by manually entering the URL or navigating to a page that has the Session Submission button... but there should be a way from the User page to submit another session.

We have users that submit multiple sessions.

similar/re

[2017-04-20 22:53] jdearie opened #326 "No menu on home page for auth users"
There is no menu on the home page once a user is logged in.  There's only "My account" and Log out".  Tested in IE, FF, and Chrome on Mac and Win7.  Once you get to any other page on the site, the menu is back... it's only missing from the home page.  Not an issue for anonymous users.

![image](https://cloud.githubusercontent.com/assets/5174534/25255782/97184cc8-25fa-11e7-9dab-2eef43c89a12.png)

[2017-04-20 23:24] bheatonf1 commented on #322
I will be taking this on

[2017-04-20 23:50] jdearie commented on #326
@aweingarten - kind of a big deal, no?

[2017-04-20 23:54] jdearie commented on #296
Not sure if what @jonraedeke did fixed the issue, but all looks good so closing.

background - @jonraedeke i was commenting on what was on Dev at the time as we were getting testing session submission.

[2017-04-20 23:54] #296 closed

[2017-04-21 00:21] aweingarten commented on #312
@bheatonf1 this looks good.  I merged the code. but can you apply recaptcha to the webform so that we don't get spammed out of existence.

[2017-04-21 00:23] aweingarten commented on #283
Done

[2017-04-21 00:23] #283 closed

[2017-04-21 00:24] aweingarten commented on #13
Done

[2017-04-21 00:24] #13 closed

[2017-04-21 00:24] aweingarten commented on #21
done

[2017-04-21 00:24] #21 closed

[2017-04-21 00:24] aweingarten commented on #50
done

[2017-04-21 00:24] #50 closed

[2017-04-21 00:25] aweingarten commented on #88
done

[2017-04-21 00:25] #88 closed

[2017-04-21 00:25] aweingarten commented on #95
fixed

[2017-04-21 00:25] #95 closed

[2017-04-21 00:26] aweingarten commented on #108
done

[2017-04-21 00:26] #108 closed

[2017-04-21 00:27] aweingarten commented on #185
done

[2017-04-21 00:27] #185 closed

[2017-04-21 00:27] aweingarten commented on #172
fixed

[2017-04-21 00:27] #172 closed

[2017-04-21 00:27] aweingarten commented on #135
done

[2017-04-21 00:27] #135 closed

[2017-04-21 00:27] aweingarten commented on #142
done

[2017-04-21 00:27] #142 closed

[2017-04-21 00:28] aweingarten commented on #134
done

[2017-04-21 00:28] #134 closed

[2017-04-21 00:28] aweingarten commented on #125
done

[2017-04-21 00:28] #125 closed

[2017-04-21 00:29] aweingarten commented on #121
done

[2017-04-21 00:29] #121 closed

[2017-04-21 00:29] aweingarten commented on #115
done

[2017-04-21 00:29] #115 closed

[2017-04-21 00:29] bheatonf1 commented on #321
I will be taking this on.

[2017-04-21 00:29] aweingarten commented on #212
Done and merged

[2017-04-21 00:29] #212 closed

[2017-04-21 00:30] aweingarten commented on #218
done

[2017-04-21 00:30] #218 closed

[2017-04-21 00:30] aweingarten commented on #219
done

[2017-04-21 00:30] #219 closed

[2017-04-21 00:31] aweingarten commented on #257
done

[2017-04-21 00:31] #257 closed

[2017-04-21 00:48] jdearie commented on #326
turned out to be a caching issue.

[2017-04-21 00:48] #326 closed

[2017-04-21 00:49] jdearie commented on #325
was a caching issue.  now that menu has returned, register and submit session buttons are there.

[2017-04-21 00:49] #325 closed

[2017-04-21 00:54] jdearie commented on #315
now that menu has returned, register and submit session buttons are there.
While the submit session button may be intuitive enough for users to click on when submitting a second session, I'm not so sure it's as clear for registering for another ticket... especially if the user had to create a new user account when the registered for the event...

[2017-04-21 00:58] jdearie commented on #291
no longer an issue.
Ticket info page (from about menu) has link to register and register button is on every page.
Closing - @jonraedeke can re-open if he ends up doing the work :)

[2017-04-21 00:58] #291 closed

[2017-04-21 01:45] aweingarten commented on #322
Done

[2017-04-21 01:45] #322 closed

[2017-04-21 03:35] bheatonf1 commented on #321
I'm equally unclear on the intent of the 'image' field. I have removed it. I have added a 'link' field for the presentation as ppt, pdf is now becoming eclipsed by web hosted decks. I've added a group to encompass both filed and link submitted slides.

[2017-04-21 15:12] charlieartist commented on #324
@jdearie This ties into a discussion @aweingarten and I were having about the classes that wrap these elements. When some structural changes were introduced to form elements, some previous styling was broken, and I had to redo it. I'll check what we can do to remedy this.

[2017-04-21 16:21] charlieartist commented on #321
@bheatonf1 Sounds good to me. On conference sites I've built in Drupal, the HTML link is all we offered, since many seasoned presenters already post their decks online.

[2017-04-21 17:26] jdearie opened #329 "Auth user can change status of Session submission"
A user should not be able to change the status of their session submission.  When I go to edit a session (as an auth user) I've submitted, I can change the status

![image](https://cloud.githubusercontent.com/assets/5174534/25289029/ff420924-2695-11e7-8c16-86b588ac814d.png)

[2017-04-21 17:26] jdearie commented on #329
@aweingarten - super important this one.

[2017-04-21 17:48] jdearie commented on #321
agreed that we can lose the image field. not sure why it's there.

While the link field is nice, I find that there's inconsistency in it's use. Some will link from the body, some the link field, some both, and some none.  Not sure how much value there is in it, but not a deal breaker for me to have it.

As for file upload - I do think we need to keep it.  I would like to allow for PDF, PPT, PPTX,

[2017-04-21 18:24] alisonjo2786 commented on #321
@jdearie Ooo I like that label idea!

All I'll add for now is that I think we should just add to the help text something like, "You may also link to slides, code repos, or other external resources in the Description field."

I know it's like, "duh," but way too often I think ppl forget to do it, and this just might help.

[2017-04-21 18:28] alisonjo2786 commented on #321
@aweingarten @jdearie Do you know if there are any circumstances where auth users will need to use the "file browser"?  I removed the task checkbox from this task b/c the Image field "file browser" permissions problem is no longer relevant, but do we need to add it as a separate issue, or will auth users never need to use the File browser dialog?

_Here's what I removed from this GH issue descript

[2017-04-21 20:39] #279 closed

[2017-04-21 21:58] aweingarten commented on #317
Done

[2017-04-21 21:58] #317 closed

[2017-04-21 22:25] aweingarten commented on #329
Fixed!

[2017-04-21 23:23] jdearie commented on #286
closing as this issue will be resolved by the related, yet diff issue in #310

[2017-04-21 23:23] #286 closed

[2017-04-22 12:12] aweingarten opened #333 "Session Submissions Need Co-presenter's field"
* [ ] Configure existing Session content type to add user reference field labeled Co-presenter?
* [ ] Configure display of the field (style if necessary)
* [ ] Export config via CMI

[2017-04-22 16:02] #316 closed

[2017-04-22 20:24] timwood commented on #315
@jdearie What if we changed the wording to "Register Tickets" ? It seems to fit on iPhone 5 up to desktop pretty well.

@charlieartist @jonraedeke @lkopacz @aweingarten Any thoughts on this suggested solution?

![image](https://cloud.githubusercontent.com/assets/91050/25307939/2fb7f7f2-2778-11e7-842f-f5a56b2505b3.png)

![image](https://cloud.githubusercontent.com/assets/91050/25307940/331864fe-277

[2017-04-22 20:36] timwood commented on #315
Or we could add a views header with a sentence, simple link, button, etc. like this:

![image](https://cloud.githubusercontent.com/assets/91050/25308014/dd9f964e-2779-11e7-9275-1d2944ed3430.png)

[2017-04-22 20:49] timwood opened #335 "Change basic site settings email address to not be Adam's email"
Email from the site, including registration confirmation email, arrive with a From header of Adam's email, because his email is the site email. @aweingarten

[2017-04-22 21:27] #314 closed

[2017-04-22 21:31] aweingarten commented on #315
@timwood let's do the modify view.  Can you also make the change to the sessions view too!

[2017-04-22 21:41] aweingarten commented on #252
done

[2017-04-22 21:41] #252 closed

[2017-04-22 21:45] aweingarten commented on #314
Verified on dev

[2017-04-22 22:13] jdearie commented on #311
I thought the same thing. It feels like it should be required since we offer an opt out. So yes - let's make it required.

[2017-04-22 22:23] jdearie commented on #315
I agree with @aweingarten on adding "Reserve another ticket for someone else" being the text in the view.

Register Tickets sounds like i need to register a ticket i already got...

[2017-04-22 22:58] timwood commented on #314
@alisonjo2786 FYI, I replaced all labels with '- Select -' on required fields.

[2017-04-22 23:00] timwood commented on #315
So @jdearie you want us to replace "Register" with "Tickets" in the hero button/menu?

[2017-04-22 23:01] timwood commented on #315
Sorry @jdearie, didn't see the updates to the original ticket text.

[2017-04-22 23:18] timwood commented on #335
@jdearie Do you think this From email address should be drupal4gov@gmail.com or info@drupal4gov.us?

[2017-04-23 00:02] timwood commented on #274
@aweingarten I can do this one since I'm also editing the session view in #315.

[2017-04-23 00:11] timwood commented on #315
@jdearie How do you feel about also adding a "No results" text to the ticket registrations view in case a user gets stuck on the user screen?

![image](https://cloud.githubusercontent.com/assets/91050/25309314/ca45a1f6-2797-11e7-8a78-8356e1e0d255.png)

[2017-04-23 00:13] timwood commented on #274
I set "Hide block if the view output is empty" to Yes, so the view doesn't render if there are no sessions, but instead should we have "No results" text with a message about submitting a session?

[2017-04-23 00:43] timwood commented on #315
@aweingarten @sarahjean @jonraedeke In order to accomplish this task do I just update all references to the Register hero button in the theme folder? Do I just edit those manually? Do I need to do anything else?

[code]

[2017-04-23 00:45] jdearie commented on #315
Great idea.

[2017-04-23 01:01] jdearie commented on #274
I like that idea even better

[2017-04-23 01:01] timwood commented on #274
Thanks!

[2017-04-23 01:04] jdearie commented on #274
Only thing - if a user hasn't logged in her but HAS submitted a session that txt might confuse them.

[2017-04-23 01:05] timwood commented on #274
I'll make sure the view only displays when logged in.

[2017-04-23 01:39] jdearie commented on #335
Good catch. It should be info@drupal4gov.us

[2017-04-23 11:31] #274 closed

[2017-04-23 11:46] #335 closed

[2017-04-23 11:52] aweingarten commented on #315
@timwood all you need is to edit these 2 files
docroot/themes/custom/twentyseventeen/sass/components/hero/hero.twig:
docroot/themes/custom/twentyseventeen/sass/components/internalheader/internalheader.twig

[2017-04-23 11:54] aweingarten commented on #260
done!

[2017-04-23 11:54] #260 closed

[2017-04-23 11:55] aweingarten commented on #249
done!

[2017-04-23 11:55] #249 closed

[2017-04-23 11:55] aweingarten commented on #239
Done!

[2017-04-23 11:55] #239 closed

[2017-04-23 11:56] aweingarten commented on #261
Completed by @jonraedeke.

[2017-04-23 11:56] #261 closed

[2017-04-23 12:00] aweingarten commented on #278
made title DrupalGovcon 2017

[2017-04-23 12:58] aweingarten commented on #284
Fixed

[2017-04-23 12:58] #284 closed

[2017-04-23 12:59] aweingarten commented on #282
Looks good closing!

[2017-04-23 12:59] #282 closed

[2017-04-23 15:14] timwood commented on #318
I did a little research on this one and it looks like because we are styling away (display: none) the actual checkbox in favor of the fancy checkbox, the webform JS validation can't target the item to display the validation message, resulting in an error in browser console of:
[code]

![image](https://cloud.githubusercontent.com/assets/91050/25314609/6a0e208c-2815-11e7-905f-6aacca1e0bbf.png)

![im

[2017-04-23 15:25] timwood commented on #318
Moved field to last item. Need frontend help for the rest of this task.
![image](https://cloud.githubusercontent.com/assets/91050/25314738/92522b22-2817-11e7-9d78-8720cb41af35.png)

[2017-04-23 15:35] timwood commented on #324
To change this, will require a code-based (or module?) solution as there doesn't appear to be a way to change the default on content type fields, like there is on Webform.

[2017-04-23 15:50] #315 closed

[2017-04-23 15:56] timwood commented on #313
This is due to the Travel menu item not being set to "expanded". @aweingarten I changed this locally and did `drush cex` but no config changes. Guess menu items aren't managed in config or?

[2017-04-23 16:00] aweingarten commented on #320
Fixed in prod by checking use admin theme for node pages on appearance settings

[2017-04-23 16:32] timwood commented on #313
I've set the Travel menu item as expanded on the production site.

[2017-04-23 16:32] #313 closed

[2017-04-23 17:59] aweingarten commented on #213
Complete and deployed

[2017-04-23 17:59] #213 closed

[2017-04-23 18:41] lkopacz commented on #310
@alisonjo2786 @jdearie,

I'm seeing a couple of conflicts in this ticket with https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/286.

1.  The reason that the Country field isn't first is because it wasn't easily done in config. I tried to manipulate it in the YAML settings (vs the normal Webform UI settings), and it appeared to not work. I should have clarified that in the original ticket. I

[2017-04-23 19:48] aweingarten opened #342 "Center Call To Action Buttons on secondary pages"
## Technical Requirements
* [ ] Center the call to action buttons.  So that they are consistent with the homepage.
* [ ] If possible ensure that the hero stretches edge to edge even at extreme widths

<img width="1564" alt="screen shot 2017-04-23 at 3 45 23 pm" src="https://cloud.githubusercontent.com/assets/6517820/25316868/f9b45208-283b-11e7-9008-e5a212934b34.png">

[2017-04-23 20:34] alisonjo2786 commented on #314
Faaaabulous thank you! cc @jdearie

[2017-04-23 20:36] alisonjo2786 commented on #278
@aweingarten Drupal GovCon, two words! (of course if that's what you did and you just typod here​, nm!)

[2017-04-23 20:38] alisonjo2786 commented on #278
(is it weird to have it be Drupal GovCon 2017 | Drupal GovCon, or is that a normal thing?) ( @jdearie ?)

[2017-04-23 20:40] alisonjo2786 commented on #318
Oh I like this, and I kept forgetting to mention that the "policy links" we're super awkward looking, so this fixes that awkwardness, too, yay!

[2017-04-23 20:48] alisonjo2786 commented on #320
@aweingarten It was already using admin theme (at least it was on Dev) for privileged users, but not for auth users, that's why I speculated that auth users didn't have access to admin theme -- I just checked on prod and it looks to still be using the normal site theme (not the admin theme) for my test-auth-user acct for the session submission form -- maybe it's just cached, but I think you'll nee

[2017-04-23 21:02] alisonjo2786 commented on #310
Thanks, @lkopacz !

The address field thing was that we're only collecting city, state, country ( #213 ).  I don't even remember putting that fourth check box task (the conditional stuff), I can't be positive but my guess is that someone else chimed in and added it as an attempt to try to help flesh out the details -- but definitely completely unnecessary!!  Please just remove that task item (I ca

[2017-04-23 21:08] aweingarten commented on #278
@alisonjo2786 This is out of the box drupal behavior

[2017-04-23 21:11] alisonjo2786 commented on #278
Ok cool, not super worried about it anyway -- as long as the title is two
words not one :)

On Apr 23, 2017 5:08 PM, "aweingarten" <notifications@github.com> wrote:

[2017-04-23 21:11] aweingarten commented on #320
@alisonjo2786 I tested this on prod and its working as expected.  we had been messing with that setting on dev to test something else

[2017-04-23 21:39] #278 closed

[2017-04-23 21:51] timwood commented on #310
@alisonjo2786 Looks like the webform uses some implementation of the Address field/module. So in webform we add one field and then it has items within it that field (Country, state, city, street, etc.) which can be enabled/disabled, marked as required and marked as visible/hidden. There is no option to reorder (as @lkopacz mentioned) and very little flexibility with each sub-item/field. There is a

[2017-04-23 21:54] timwood commented on #310
<img width="590" alt="screen shot 2017-04-23 at 5 53 43 pm" src="https://cloud.githubusercontent.com/assets/91050/25317790/dae1ecd4-284d-11e7-8789-f6b075eb94e9.png">

[2017-04-23 21:55] alisonjo2786 commented on #320
Ok it wasn't the admin themewhen I checked as an auth user on prod when I
checked before my earlier comment today, unless the admin theme on prod is
different from that of Dev (it looks like the regular sit theme to me), or
unless it's like cached...? I'll reply again with a screenshot when I get
to my hotel.

[2017-04-23 22:27] timwood commented on #342
Isn't the hero area vertically shorter (intentionally) on sub-pages so it's not always in the way? On desktop there is space for them to be off to the side, probably why they are up there.

[2017-04-23 22:30] aweingarten commented on #342
It is shorter, but the mobile behavior does this perfectly centered.  There is enough space.  The current desktop behavior seems confusing and looks like a bug. I

f that's a call to action it should be in their faces otherwise we should remove the buttons and rely on the menu?

[2017-04-23 22:32] timwood commented on #311
[My comment](#318#issuecomment-296450125) about client-side validation applies here and is a sort of a blocker for this task. In addition, we need to better style required checkboxes fields.

Anyone know if there is a default style we can apply by adding a css class to these fields?

[2017-04-23 22:36] aweingarten commented on #311
So I seem to recall that you can't just style checkboxes.  The OS pretty
much always overrides. So you need to do the JS hack.  My guess is that we
need to override the twig file that prints checkboxes so that we instead
print the JS markup that we can style.  That or surrender and stick with
the native checkbox?

On Sun, Apr 23, 2017 at 6:32 PM, Tim Wood <notifications@github.com> wrote:

--
*Ada

[2017-04-24 00:23] alisonjo2786 commented on #320
@aweingarten Maybe I'm just misunderstanding the situation, but I def see "create session" with the twentuseventeen not seven -- and "use admin theme for node editing" is unchecked on prod, unless I'm looking wrong.  Screenshots attached, checked as auth and as admin.

![screenshot_20170423-201740](https://cloud.githubusercontent.com/assets/2660348/25318720/8b7f9df2-2862-11e7-8f24-5b34fb435756.png

[2017-04-24 00:27] alisonjo2786 commented on #311
@charlieartist Do you have any insights you could share? (see previous comments from Tim and Adam)

[2017-04-24 00:30] charlieartist commented on #311
@alisonjo2786 @aweingarten That is not the case--in the style guide, I have styled checkboxes and radio selects via CSS only. No JS whatsoever is utilized.

[2017-04-24 01:10] aweingarten commented on #320
Okay I was looking at registration not session.  It looks like the SASS needs to be updated and made more generic

[2017-04-24 01:18] aweingarten commented on #311
lets move the check box issues to here.  and only deal with the "ensure that the news sign up field is required " in this ticket.
https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/318

[2017-04-24 01:20] timwood commented on #311
@charlieartist What's happening is that since the actual `<input type="checklist">` is set to `display: none;`, the client-side validation fails because it cannot find the form element by name to place the notice for the user to fill in the required field.

[2017-04-24 01:23] charlieartist commented on #311
@timwood So, it's using JS to place this notice?

[2017-04-24 01:26] timwood commented on #311
@charlieartist Some people have mentioned HTML5 when referring to the client-side validation, so I'm unsure whether it's JS or some HTML5 feature or what.

[2017-04-24 01:31] charlieartist commented on #311
@timwood As far as red halo--this wasn't something I had been aware of. In checking a vanilla install of D8, there were blue halos on required fields. So, the color appears to be a preference of styling. Should we look into adding a pseudo class for this? Maybe touch base on this?

[2017-04-24 01:34] timwood commented on #311
@aweingarten For the news sign up field being required...it actually already is, as is the "Which days do you want to attend" field. So the only thing left on this task is related to styling required fields when they are of type checkbox. There is server-side validation which will catch the validation for these two fields and highlight with the pink.

<img width="1259" alt="screen shot 2017-04-23

[2017-04-24 01:35] charlieartist commented on #311
@timwood So, anything else to add?

[2017-04-24 01:38] charlieartist commented on #342
@aweingarten @timwood Something looks very broken in that display above.

[2017-04-24 02:22] timwood commented on #311
Closed with #345

[2017-04-24 02:22] #311 closed

[2017-04-24 02:43] timwood commented on #310
Closed with #344. Extra options added to States list, label updated to just "State" and all fields are no longer required.

[2017-04-24 02:43] bheatonf1 commented on #310
'Other' can be made an option by changing the form field to a 'select other' field.
Fields can be reordered by adding a form_alter and targeting the subfield via a postpended __weight to the subfield #property. We can also do _some_ things with #states visibility/invisibility but it is a bit jankey and seems to only work on individual fields.

[2017-04-24 02:44] timwood commented on #310
@bheatonf1 Great info, thanks! Want me to reopen this (just closed it) and keep assigned to you for those enhancements?

[2017-04-24 02:44] bheatonf1 commented on #310
I did not keep the Address fields on this. Not sure if we desire them. I kept Country, City and State.

[2017-04-24 02:45] bheatonf1 commented on #310
@timwood sure - I have a pretty good handle on how to target these subfields now - wasn't easy or documented :(

[2017-04-24 02:46] bheatonf1 commented on #310
@timwood I just added a PR for this work if you want to take a look at what I've done to  make most of the above possible.

[2017-04-24 02:48] timwood commented on #310
Reopened for last two checkbox items (and any other suggestions @bheatonf1 wants to tackle!).

[2017-04-24 02:49] timwood commented on #310
I'm removing go-live triage since the changes made by @lkopacz make this acceptable for launch, in my opinion.

@bheatonf1 Be sure to pull down latest code and grab fresh DB.

[2017-04-24 03:12] bheatonf1 commented on #312
@aweingarten will do.

[2017-04-24 03:26] timwood commented on #310
@bheatonf1 I pulled down the PR and tested locally. Looks good except two issues:

1. When selecting a different country (other than the default "United States", all address fields disappear!
2. My changes from #340 were reverted.

Thanks for adding the extra territories back, and I think it's better that they are in the bottom of the list with a separator (although this seems to make the separato

[2017-04-24 10:59] #281 closed

[2017-04-24 13:58] alisonjo2786 commented on #320
Ahhh ok, cool. I'll reassign to Karl for now!

[2017-04-24 14:03] alisonjo2786 commented on #310
@bheatonf1 No Street address and zip at all, right? Just wanted to double check.

[2017-04-24 15:34] timwood commented on #310
Correct, @alisonjo2786.
![image](https://cloud.githubusercontent.com/assets/91050/25345076/00a6dc92-28e2-11e7-988a-cfa59fa3281f.png)

[2017-04-24 16:43] aweingarten opened #349 "Remove Checkbox Styling"
## Background
The checkboxes are breaking validation remove the styling

[2017-04-24 16:46] timwood commented on #349
Related to #318.

[2017-04-24 16:47] charlieartist commented on #349
No way to deal with this?

[2017-04-24 16:50] charlieartist commented on #349
@aweingarten  I can do a quick test--things are slow here today.

[2017-04-24 16:57] jonraedeke commented on #349
Relevant validation error https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/318#issuecomment-296450125

[2017-04-24 17:11] timwood opened #350 "Fix tab accessibility of main menu"
When you tab through the main menu link items on desktop, the l1/parent menu items don't expand/display once tabbing into the sub-menu items.

[2017-04-24 17:14] timwood opened #351 "Redirect new user from Drupal account registration to Ticket registration form"
* [x] When a user successfully creates a new Drupal account at /user/register, redirect them to /form/registration to complete the Conference ticket registration

[2017-04-24 17:36] jonraedeke commented on #349
@charlieartist  We need to be able to tab through the checkboxes for accessibility. So I will go ahead remove the styling until we can figure out how to get the form to validate and tab through with the styling.

[2017-04-24 17:41] charlieartist commented on #349
@jonraedeke OK. How can I test for this and move forward in the meantime?

[2017-04-24 17:42] timwood commented on #351
Possible solutions:

- Add a hook on successful /user/register form submission to redirect to /form/registration (the ticket registration webform)
 - Optionally fill in fields from Drupal user account registration details
 - Optionally add a note/message to the top of the ticket registration webform explaining why the user is filling out another form
- Change the "Ticket" link url to use /user/reg

[2017-04-24 17:42] charlieartist opened #352 "Fix Checkbox Styling"
Checkbox styling not currently working during validation, will need to be investigated, and styled. This is to resolve issues in ticket [349](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/349)

[2017-04-24 17:50] jonraedeke commented on #349
@charlieartist Thanks. Log in locally, click the "Ticket" link in the hero and fill out the form except for the last checkbox. You might try hiding the checkbox offscreen or clipping it instead of display:none. Also, make sure it gets highlighted on focus with the tab key.

[2017-04-24 17:52] timwood commented on #280
Ack, I've duplicated this by accident in #351

[2017-04-24 17:52] charlieartist commented on #349
@jonraedeke OK. I created another ticket to deal with this: [352](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/352)

[2017-04-24 18:42] aweingarten commented on #349
Validated on DEV closing!

[2017-04-24 18:42] #349 closed

[2017-04-24 18:45] timwood commented on #351
@bheatonf1 Please implement the redirect hook option per @aweingarten . His initial research and code is available in #280

[2017-04-24 18:58] bheatonf1 commented on #310
Hi @timwood got it. Checking out the issues today.

[2017-04-24 19:23] timwood opened #354 "Style proposed sessions view and individual session node page"
With #273 merged we now need to make the proposed sessions view look pretty.

* [x] Style sessions view output to look pretty (including the footer as a generic item that can be reused)
* [x] As needed, modify/enhance sessions view output
* [ ] Style session node page

[2017-04-24 20:24] bheatonf1 commented on #351
Ok @timwood. I've got something working locally. Wish push a PR shortly.

[2017-04-25 13:54] jdearie opened #356 "User Registration Captcha Requirement Very Easy to Miss"
I almost missed the captcha requirement... it's the last field (after a bunch on non-required fields) and the label is very easy to miss.

![image](https://cloud.githubusercontent.com/assets/5174534/25388921/20bac35c-299d-11e7-9c02-479f29aa1acc.png)

[2017-04-25 13:59] timwood commented on #356
I think in production it uses recaptcha do easier to see.

On Tue, Apr 25, 2017, 9:54 AM Jessica Dearie <notifications@github.com>
wrote:

[2017-04-25 14:02] jdearie commented on #310
Let's make sure we keep these fields required. I know you're still working on this, but the version on dev doesn't have the address fields required... and I wanted to make sure we know they need to be required. Thanks!

[2017-04-25 14:04] jdearie opened #357 "How did you hear about DrupalGovCon - wrong URLs in drop down"
should be drupalgovcon.org or drupal4gov.us

-- we are not drupal4gov.org

![image](https://cloud.githubusercontent.com/assets/5174534/25389398/7afbc4c8-299e-11e7-811e-eeae97c654a2.png)

[2017-04-25 14:21] jdearie opened #358 "Company Information and Professional Experience fields should be required"
as outlined in the initial issue #213 ...

Company information and Professional Experience fields are not currently required on dev but should be.

[2017-04-25 14:46] jdearie opened #359 "Update header text on Ticket Registration Page"
Replace this basic header text:
"Registration successful. You are now logged in."

With:

"WAIT - YOU STILL NEED A TICKET.  Now that you are registered on the site, you can get tickets to Drupal GovCon for yourself and others.  Please complete this ticket registration form for each person that needs a ticket to the event."

[2017-04-25 14:52] onelittlebecca opened #360 "Add option in dropdown"
Add "Previous Attendee" option in dropdown for How did I hear about GovCon on ticket registration

[2017-04-25 18:58] timwood commented on #356
Scratch that. We have no captcha on production ATM. This is not good.

[2017-04-26 14:00] onelittlebecca opened #361 "Session submission confirmation"
People don't seem to be receiving an email notifying them of confirmation of session submission.

[2017-04-26 14:02] jdearie opened #362 "Remove email confirmations to drupal4gov email."
The drupal4gov@gmail.com/info@drupal4gov.us is getting an email confirmation every time someone submits a session or registers for a ticket.

Let's make that stop please :)

[2017-04-26 14:38] jdearie opened #363 "Sponsor logos on sponsor page should link to their link"
Right now the sponsor logos just link to the /sponsors page.

They should link to the url we capture in the sponsor content node.

[2017-04-26 14:39] bheatonf1 commented on #321
I will wrap this up this evening.

[2017-04-26 19:41] jonraedeke commented on #270
We'd have to allow the <address> tag in the text format settings.

[2017-04-26 20:45] jdearie opened #364 "Auth users need to be able to create a BoF"
Users with accounts registered on the site need to be able to create BoFs.  Could be as simple as a content type, but we will need to consider how we make sure there are spaces for all the BoFs.

If we aren't doing session scheduling on the site, how do we get BoFs scheduled?
While we can identify where BoFs can be (rooms) and when (day/time) - how do we ensure spaces don't get double booked?

[2017-04-26 20:46] jdearie opened #365 "Auth Users need to be able to flag sessions they are interested in"
ability for authorized user to select a session they plan to attend
this number displays on the screen for editors to monitor and move rooms as needed
a flagged session should show to users as an individualized schedule that they can monitor

background
Since we aren't building the session schedule into the site - but rather simply posting the schedule we need a way for users to flag sessions they

[2017-04-27 16:54] #272 closed

[2017-04-27 17:56] #362 closed

[2017-04-27 17:59] #360 closed

[2017-04-27 17:59] #358 closed

[2017-04-27 17:59] #357 closed

[2017-04-27 17:59] #288 closed

[2017-04-28 01:22] #356 closed

[2017-04-28 01:28] timwood opened #367 "Adjust path in hero links on internal header"
to use destination=user/register

[2017-04-28 01:33] timwood commented on #351
Done!

[2017-04-28 01:33] #351 closed

[2017-04-28 01:38] timwood commented on #213
Participant Release section was accidentally marked as required in the original ticket above. I've removed the star for that item.

[2017-04-28 01:46] #367 closed

[2017-04-28 02:23] timwood opened #369 "Fix "Media Policy" link on ticket registration"
<img width="351" alt="screen shot 2017-04-27 at 10 21 40 pm" src="https://cloud.githubusercontent.com/assets/91050/25511904/13f14a04-2b98-11e7-8b2c-f9ed1f9f5739.png">

Right now it links to "#".

[2017-04-28 02:28] timwood opened #370 "Remove/replace sentence about registration and speaker submissions on home page under "Stay in the loop""
It currently reads:

<img width="977" alt="screen shot 2017-04-27 at 10 26 51 pm" src="https://cloud.githubusercontent.com/assets/91050/25512016/bcfc9f54-2b98-11e7-8a70-450bfa0077b9.png">

[2017-04-28 02:28] timwood commented on #370
I couldn't figure out where to make this edit.

[2017-04-28 13:53] jdearie commented on #370
This isn't content I created either... and I'm not sure where to edit it. @charlieartist do you know?

[2017-04-28 13:53] jdearie commented on #369
https://www.drupalgovcon.org/media-policy

[2017-04-28 13:56] charlieartist commented on #370
@jdearie Yes--on the original site launch, when content types weren't fully baked, the initial content was styled and placed in custom blocks. @sarahjean was looking at doing custom fields to deal with homepage content, but I'm not sure as if this was ever completed.

[2017-04-28 14:01] jdearie commented on #370
that's what i thought... i looked at blocks, but i don't see one that matches what's on the home page. there is a home page content block (block/31), but it has different content than what is currently being displayed.   (unless someone literally just updated it)

[2017-04-28 14:04] charlieartist commented on #370
@jdearie It probably would be good to check with @aweingarten. Initially, I had static HTML/CSS that could have been posted, but that content got cut up and put into the the D8 build as a component. Now, it's possible that this can be updated through the style guide. I can check on that. What is the copy change?

[2017-04-28 14:09] timwood commented on #370
Thanks for the tip, Karl. Looks like it's in three places in the code: https://github.com/Drupal4Gov/Drupal-GovCon-2017/search?utf8=%E2%9C%93&q=%22Registration+and+speaker+submissions+to+be+coming+soon%22&type=

[2017-04-28 14:10] charlieartist commented on #370
@timwood Sure--this would be good to resolve. I know the initial construct was quite puzzling. This content, as I originally envisioned, cold all be controlled by CSS classes, requiring no custom fields or content types.

[2017-04-28 15:00] jdearie commented on #370
I think we can get away with just removing the Registration and speaker submissions coming soon sentence.

[2017-04-28 15:39] charlieartist commented on #370
@jdearie OK. I'll do a branch, PR, and ping @aweingarten on making this happen.

[2017-04-28 18:34] timwood opened #372 "Recaptcha site key and secret key lost on new deployment to prod"
We've put the Recaptcha site and secret key (from the D4G Gmail account's recaptcha registration) into the live site via Drupal admin interface, but it gets removed when code is deployed to the site. I believe this is due to null values for these settings being included in exported config [blob/master/config/default/recaptcha.settings.yml](https://github.com/Drupal4Gov/Drupal-GovCon-2017/blob/mast

[2017-04-29 16:15] timwood commented on #369
Thanks for the link @jdearie. Once the PR is checked and merged, this will be available on Dev.

[2017-04-29 19:38] timwood commented on #312
This looks done.
![image](https://cloud.githubusercontent.com/assets/91050/25558318/e28ee6b4-2cf1-11e7-89bf-d937e5f1da65.png)

[2017-04-29 19:38] #312 closed

[2017-04-29 19:40] timwood commented on #280
This is still an issue.

[2017-04-29 19:41] timwood commented on #319
Anyone want to take this one? @jonraedeke @sarahjean @charlieartist ?

[2017-04-29 19:42] timwood commented on #324
This is low priority.

[2017-04-29 19:50] timwood commented on #370
@charlieartist I'm handling this today.

[2017-04-29 20:05] #370 closed

[2017-05-01 17:30] timwood commented on #329
Issue still exists at /node/ID/edit as the hook implemented in https://github.com/drupal-cod/program/commit/a851b6021fe9528750b139c2a2f4d1fe90d596f2 only affects /node/add/session. 'session_form_node_session_form_alter' vs session_form_node_session_**edit**_form_alter'

Thanks @sarahjean

[2017-05-01 20:37] mikemadison13 opened #376 "Session Status Field Visible on Session Edits"
The session status field is properly hidden during the session creation process, but is visible to the general public when they log in to edit their own sessions. This should be corrected.

Note that it will need to be corrected and pushed to the COD repo (since this module is not committed on the govcon side) https://github.com/drupal-cod/program

- [ ] Non-admin users can never see the status fi

[2017-05-01 20:53] alisonjo2786 opened #378 "Tickets view/report (ASAP re: volunteers)"
## Requirements
- [ ] (short-term / ASAP) Report of ppl interested in volunteering (needed by Nneka).
   - so, super simple view that can be extended later, or a "one-off-in-prod" temp view to be replaced as soon as we've created a "real" one.

### Background
Nneka needs to start reaching out to people this week (5/1/2017) -- per messages on Slack, starting with [this one](https://drupalgovcon.sla

[2017-05-01 20:54] mikemadison13 commented on #329
accidentally duped at https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/376

[2017-05-01 20:55] #376 closed

[2017-05-01 22:25] mikemadison13 commented on #372
@timwood this should be addressed now.

[2017-05-01 22:25] #372 closed

[2017-05-02 12:08] bheatonf1 commented on #351
@timwood does this take care of issues in #280?

[2017-05-02 12:32] timwood commented on #378
After the conversation on slack regarding using webform results reporting and exporting, should we just close this issue?

[2017-05-02 12:34] timwood commented on #372
Great. Thanks!

[2017-05-02 12:43] timwood commented on #351
No, unfortunately not. After re-reading #280 I realized that issue is talking about a different workflow.

[2017-05-02 14:26] mikemadison13 commented on #329
i've addressed this here: https://github.com/drupal-cod/program/pull/8 by swapping from the hook hook_form_FORM_ID_alter to just a plain hook_form_alter with an if statement in it per @sarahjean's recommendation (good call).

the issue was that the form alter in the code was only firing on the creation (and not the editing) of the session nodes.

i'll work on getting this merged (and then we shoul

[2017-05-02 14:36] mikemadison13 commented on #329
update, @japerry merged the PR for me so this should be able to be verified locally now @timwood

[2017-05-02 17:28] alisonjo2786 commented on #378
Yep -- was just coming on to do that, was waiting for her to verify, and I guess her "reaction" on my comment is the answer :)

#### As @timwood says, Nneka is fine for the immediate term using the webform results "download" functionality.

[2017-05-02 17:28] #378 closed

[2017-05-04 02:02] timwood commented on #329
@mikemadison13 I tried for a while tonight to test this locally so we can close out this ticket, but was unsuccessful in getting my local environment to update the cod program module. I tried:

`blt local:sync ; blt local:refresh` (one of which runs the blt setup:composer:install task)

manually running `composer install`

checking `composer status -v` and `composer outdated` the first command rep

[2017-05-04 04:30] mikemadison13 commented on #365
I've done a VERY basic proof of concept for COD Program/Session here: https://github.com/drupal-cod/program/pull/9

the idea is that a user can add sessions to their schedule / remove them from their schedule.

@jdearie i noticed that session seems to be missing a lot of details about scheduling the actual sessions once they are accepted, which I think are fairly critical to this component (since

[2017-05-04 18:53] bheatonf1 commented on #364
@aweingarten @mikemadison13 any thoughts on implementation here? I'm happy to create something but don't want to venture into the wrong direction.

[2017-05-04 19:32] timwood commented on #364
This should probably happen over in [drupal-cod](https://github.com/drupal-cod) as a sub-module of [program](https://github.com/drupal-cod/program), like session is, but I defer to @aweingarten, @mikemadison13 or @japerry. I know the COD team was architecting/planning via Google docs or other somewhere...

[2017-05-04 19:34] mikemadison13 commented on #364
yeah, my thoughts would be a drupal-cod/program submodule for bofs (that would sit along side sessions). we can talk about it on the COD scrum today

[2017-05-04 19:41] timwood opened #382 "Route mail from site through Mailchimp's Mandrill SMTP service"
This should hopefully allow emails generated by the website (password reset, user registration, tickets, etc) to be delivered without being caught by spam or other mail filters.

* https://www.drupal.org/project/smtp
* https://www.drupal.org/project/phpmailer
* https://www.drupal.org/project/mandrill + https://www.drupal.org/project/mailsystem

[2017-05-04 20:55] mikemadison13 commented on #319
@charlieartist it might be worth looking at the new experimental inline form errors (name?) module that I believe is bundled with Drupal core.

[2017-05-04 21:08] timwood commented on #319
Experimental core module name is inline_form_errors, currently not required/installed in my local.
[code]
Looks like this was the original D8 core issue: https://www.drupal.org/node/1493324

[2017-05-04 21:08] timwood commented on #319
Oh, and this page lists the current core experimental modules and their status. https://www.drupal.org/core/experimental#versions

[2017-05-05 01:46] timwood commented on #329
Manually deleting docroot/modules/contrib/program and then running `composer install` got the updates from Github.

This looks good now! I'm closing out this ticket and will create a release on prod.

[2017-05-05 01:46] #329 closed

[2017-05-05 03:00] timwood commented on #329
This is now live in production.

[2017-05-05 03:04] timwood commented on #324
@jdearie We now have "- Select -" on ticket registration form and " - Select a Value -" on Session form (and presumably other node types). Does this seem consistent enough? It's not a simple site builder task to change the default on node form(s).

Can we cancel this task?

[2017-05-05 14:35] bendygirl opened #384 "Display top 3 news articles on home page"
Prefer it be named News & Updates (or similar)
This block is for content that editors can use to coordinate with mailchimp and social media pushes.

We need a block here to promote closing dates for room blocks, keynotes, announcements, links to web forms when recruiting volunteers.

Thinking right sidebar, but leave that up to the designers!

Add a link to "more news" that points to page created

[2017-05-05 14:37] bendygirl opened #385 "Front Page: Add content for SESSION submission closing"
We need to add to the front page:

Session Submissions CLOSE May 22nd! Submit your session TODAY!

[2017-05-06 01:00] jdearie commented on #324
works for me...

[2017-05-06 01:00] #324 closed

[2017-05-06 01:05] jdearie commented on #365
@mikemadison13  - I was told by @aweingarten that we weren't going to be doing any scheduling on the site this year.  That sessions would be selected and scheduled outside of the site and that an html 5 table would be used to display the schedule.  we still need a way for users to show interest (as defined in #365) so that we can assign sessions to the right sized room.

[2017-05-06 12:25] jonraedeke opened #386 "Page title missing on basic pages"
The `title` variable for the page.html.twig template seems to be missing.

[2017-05-08 01:01] jdearie commented on #271
title and menu text taken from drupalcon site menu - so this issue may be more subjective; tabling for now.

first comment no longer applicable as language changed

made changes suggested in third item

[2017-05-08 01:01] #271 closed

[2017-05-08 01:01] #206 closed

[2017-05-08 01:08] jdearie opened #387 "create sponsor role"
create a sponsor creator role to manage who can add/edit/delete sponsor content (to include uploading media (logo) associated).

Admins have been managing thus far and that's working fine. we should standardize that content type to be managed like the other content type permissions, but we don't need to have that this year.

[2017-05-08 01:25] jdearie commented on #208
we can't accept donations until we are formally incorporated

[2017-05-08 01:30] jdearie commented on #207
@timwood or @mikemadison13 - is nneka doing this as a webform now?

[2017-05-08 01:44] bendygirl commented on #168
This appears complete since we've launchd. Closing

[2017-05-08 01:44] #168 closed

[2017-05-08 01:46] jdearie commented on #94
agreed. not this year.

[2017-05-08 01:46] #94 closed

[2017-05-08 01:47] bendygirl commented on #201
@timwood this is working now since the site is up. If anyone paid for cloudflare, let Kirsten know for budgeting. Recommend closing.

[2017-05-08 01:49] bendygirl commented on #215
Let's do this:

Drupal GovCon is graciously hosted by the NIH Library and made possible by our generous sponsors, wonderful volunteers and brought to you by Drupal4Gov (link to www.drupal4gov.us).

[2017-05-08 01:51] jdearie opened #388 "Create News Article Content type"
Create a news article content type that can be used to display news and announcements on the home page.

- [x] title
- [x] body
- [x] wysiwyg (for editors to add basic formatting like links, bold or headers to break up content)
- [ ] limited to 5 lines of summary to the front page
- [ ] limited to 3 news items on front page
- [ ] page of all news items linked to on the front page

similar to front

[2017-05-08 01:52] jdearie opened #389 "Display top 3 news articles on home page"

[2017-05-08 01:53] bendygirl commented on #364
Just wanted to make sure folks know that only time frame we'd have in the schedule for BoFs would be lunch. And only room available for use would be a room not assigned a training. That's Room E.

I don't think for this year this is a priority. I'm labeling this low priority for now.

[2017-05-08 01:54] jdearie commented on #389
duplicate of

[2017-05-08 01:54] #389 closed

[2017-05-08 01:57] jdearie commented on #385
completing issues in the news and announcements milestone would solve this issue.

[2017-05-08 03:27] bendygirl opened #390 "Webform for Scholarship Submission"
Create a webform for scholarship applicants. This needs to provide a download for export to excel or google docs for the scholarship reviewers to determine who to give scholarships to.

Content for WebForm:

The Drupal GovCon Scholarship Program provides travel funds for this year's Drupal GovCon event.

Attendance at Drupal GovCon benefits the scholarship recipient not only by offsetting a portio

[2017-05-08 03:33] bendygirl opened #391 "Proposed Sessions Page/View - needed BEFORE May 20"
Users need to see a list of all proposed sessions. This helps increase number and quality of sessions submitted.

I've heard this is in Dev but needs styling. Needed ASAP.

[2017-05-08 03:34] bendygirl opened #392 "Accepted Sessions"
View for all accepted sessions

[2017-05-08 03:38] bendygirl opened #393 "Allow Volunteers to check-in registrants"
Volunteer role (#490) needs to be able to view and edit the fields listed below from the ticket submissions
-- Last Name
-- First Name
-- T-shirt size
-- Lunch
-- Days of Attendance

Volunteer needs to be able to search for tickets based on First or Last Name (and the search should work with "starts with" - please do not require the full field text for the search.

Volunteer role needs to be able

[2017-05-08 03:42] bendygirl opened #394 "Listing of Attendees"
Need a list of ticketed attendees to display to anon user

Page/View should include the following fields from the ticket registration:

First Name
Last Name
Company Name (see #397)

AND where the "Show on attendee listing page" checkbox was checked.

Admins should have a view/page(s) where they can view all the data submitted during ticket registration.

[2017-05-08 04:01] bendygirl opened #395 "Editors need to Change session submission status"
Admins can change the status of an individual session - but we need to be able to do them en masse.

Should we create a session manager role so that we can manage that content type without being admins?

Speakers cancel. Editors need access to changing status (accepted or rejected) on production.

This will help when speakers cancel (things come up, this happened 6 or more times last year includin

[2017-05-08 04:03] bendygirl opened #396 "Session user flags"
ability for authorized user to select a session they plan to attend
this number displays on the screen for editors to monitor and move rooms as needed
a flagged session should show to users as an individualized schedule that they can monitor

[2017-05-08 21:48] jdearie commented on #396
duplicate of #365. incorporating any differences

[2017-05-08 21:48] #396 closed

[2017-05-08 21:57] jdearie opened #397 "Add Company Name to Ticket Registration"
not sure how we missed this..

In the Company Information field collection... add a text field:
Company/Organization Name:

Field is required.

[2017-05-08 22:47] jdearie opened #398 "News Page"
create a news article page/view that displays a listing of all news articles.  only top 3 would be on home page.

List should be of the content type in issue #388

[2017-05-08 23:08] lkopacz commented on #386
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/399

[2017-05-09 19:17] mikemadison13 commented on #397
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/401

[2017-05-09 19:33] mikemadison13 commented on #207
@jdearie i have no idea?

[2017-05-09 19:44] mikemadison13 commented on #394
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/401

[2017-05-09 19:53] mikemadison13 commented on #350
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/400

[2017-05-09 19:53] #350 closed

[2017-05-09 21:22] mikemadison13 commented on #388
@jdearie / @bendygirl can you please provide the desired fields and functionality for this content type?

[2017-05-09 21:36] mikemadison13 commented on #391
@bendygirl there IS a propopsed session view (https://www.drupalgovcon.org/program/proposed-sessions) but it isn't linked up, and it needs some TLC on the styling side. I would propose we hand this off to @lkopacz  / @charlieartist  / @jonraedeke  for some work. any takers?

[2017-05-09 21:37] mikemadison13 commented on #391
specifically (what I see):

- [ ] style the footer (should be a general styling to apply to all footers)
- [ ] style the general layout of the sessions to be more in-line with what we have seen on drupalcon's site https://events.drupal.org/baltimore2017/sessions/accepted

[2017-05-09 21:39] mikemadison13 commented on #391
this is a dup of https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/354

[2017-05-09 21:39] #391 closed

[2017-05-09 21:39] mikemadison13 commented on #354
i would suggest looking at DrupalCon's sessions page (or our own from last year) as a basis for this.

@bendygirl and @jdearie would like this LIVE by 5/20 so it needs to be done ASAP.

[2017-05-09 21:41] mikemadison13 commented on #365
@jdearie it seems to me that you guys need a way to track how full the rooms are, which means that we need a way to relate user flags to sessions, and sessions to a time / room. we surely want at least SOME degree of that with the session info in admin only fields, right?

[2017-05-09 21:59] bendygirl commented on #365
yes, that's what we will need @mikemadison13

Or we may have to have more volunteers to stop attendees from going into rooms in case we clearly get it completely wrong.

[2017-05-09 22:14] mikemadison13 commented on #333
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/341

[2017-05-10 11:59] jdearie commented on #365
I was told by @aweingarten that none of that would be done in the site this year. That we would plot and manage all sessions external to the site. The schedule would be posted online as a simple html table that we would update as things changed.

The minimum requirement within the site was for users to flag sessions they were interested in so that we could get a sense of how popular they were as w

[2017-05-10 18:31] dmkelner commented on #363
This is still not working correctly. Still link to /sponsors.

[2017-05-10 21:16] jonraedeke commented on #301
@charlieartist Can we make this and the 404 page the same component and just swap out content when we implement?

[2017-05-11 00:39] timwood commented on #363
@mikemadison13 Can you undo what you did in https://github.com/Drupal4Gov/Drupal-GovCon-2017/commit/8bc1458611716f3e262a75ddf79826b0434df803#diff-9160d7b2f882ba7ca190f0c6664a6d33 to get close this issue again?

[2017-05-11 00:41] timwood commented on #369
@mikemadison13 This was also lost in https://github.com/Drupal4Gov/Drupal-GovCon-2017/commit/8bc1458611716f3e262a75ddf79826b0434df803#diff-6385350be8e3cebaae61baf8d8a43fd8

[2017-05-11 06:09] charlieartist opened #403 "Add Social Media Field to User Registration/Profile"
For most tech-related conferences, there's an option for users to add a social media handle (usually Twitter), which, per user preference, can be shown on the badge and/or public user profile. This helps in contacts and mentions, as well as promoting the conference to the outside community.

[2017-05-11 20:27] bheatonf1 commented on #359
[PR submitted](https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/404)

[2017-05-11 21:18] sarahjean opened #405 "Make intro block (block--dgc--intro) on homepage editable"
Talked over a few options on scrum, we can either set this up as a fielded block plugin (or custom block type?) or we could set up Ckeditor so there's access to apply some classes (like for the intro).

[2017-05-12 09:57] charlieartist commented on #405
@sarahjean Know we had discussed this a while ago, then tabled. IIRC, we had looked at creating multiple fields to control input styling. Aside from that, should we look at a space in the main content area where expiring blocks/banners could be placed? This is how I deal with similar issues on some client sites. Perhaps it would be good to look at what content would be changing.

[2017-05-12 14:52] sarahjean commented on #385
PR here to fix block behavior in panels https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/406

[2017-05-16 17:12] charlieartist commented on #405
A quick fix would be creating a custom block/view display for content that can be set to auto-expire. This is a pattern I employ on projects where content editing can be a challenge--which helps keep outdated content off the site.

[2017-05-17 11:00] jdearie commented on #75
Someone mentioned that they gray text on the home page may not have enough contrast.

[2017-05-17 13:01] charlieartist commented on #75
@jdearie Just checked it here: http://webaim.org/resources/contrastchecker/ According to it, #999 (what is currently is) does fail. It should be adjusted to #666. I will make a note to do so. Thanks.

[2017-05-17 17:01] jdearie commented on #354
All page views of sessions (regardless of proposed vs accepted etc) need to show the session speaker.  I'll update actual issue text with fields we need to show.

[2017-05-17 22:16] jdearie opened #407 "Close session submissions"
Ensure no users can submit sessions after midnight EDT ON 22 May.   Users can still have ability to edit, but not create or delete.

[2017-05-18 18:46] timwood commented on #310
@bheatonf1 http://timonweb.com/posts/set-required-and-optional-address-inputs-for-address-field-in-drupal-8

[2017-05-18 19:16] mikemadison13 commented on #385
this has been done temporarily with a custom block on the homepage.

[2017-05-18 19:21] jdearie commented on #365
We need to capture user interest in a session so that we can plot sessions to the right size room.  That's the primary intent for this issue.

[2017-05-18 19:27] jdearie opened #408 "export proposed sessions NLT 23 May 2017"
need an export of all proposed sessions to give to the session selection committee.
The export should include all fields from the submission (track, level, content, name, associated email for contacting the speaker, etc...)

[2017-05-18 19:34] alisonjo2786 commented on #321
I think maybe the perms issue might have been fixed, but I'm not positive.....?

( @bheatonf1 ?)

[2017-05-18 19:45] jdearie opened #409 "Page title missing on session and landing pages"
page titles not displaying on pages.

[2017-05-18 20:48] charlieartist commented on #385
This is being taken care of in 405.

[2017-05-18 20:48] #385 closed

[2017-05-18 20:49] timwood commented on #409
I believe this will be fixed when we deploy to production as the page title appears on all pages on the Dev environment site.

[2017-05-18 20:49] charlieartist commented on #392
I'll take on styling this.

[2017-05-18 20:51] charlieartist commented on #354
I see there are duplicates.

[2017-05-18 20:51] mikemadison13 commented on #354
styling should also apply to https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/392

[2017-05-18 20:52] mikemadison13 commented on #392
this should just be a new display inside the same view, filtered on the accepted taxonomy term

[2017-05-18 20:54] bheatonf1 commented on #392
For accepted sessions - use current view and make a new display on the same view

[2017-05-18 20:55] lkopacz opened #410 "UX: Become a Speaker and "Present" Block - inconsistent naming"
It's "Become a Speaker" in the nav, and "Present" in the block on the homepage, which makes it frustrating as a user.

[2017-05-19 21:35] jdearie opened #412 "change ticket registration email"
update email text to remove request to submit a session.  new text should be:

You've been registered for Drupal GovCon 2017 and have secured a ticket to the event.

Next steps: Tell your friends about Drupal GovCon!

username: [username]
password: your password

Change your mind about getting email alerts?  Subscribe to our e-mail list:
http://eepurl.com/bbJASn

Follow us on social media:
https:/

[2017-05-22 02:11] charlieartist opened #413 "Add Special Announcements"
This supersedes issue 405. The main purpose is to create a content type and view display on the homepage for special announcements.

[2017-05-22 02:13] charlieartist commented on #405
Due to config export issues, this is being moved to issue #413.

[2017-05-22 02:13] #405 closed

[2017-05-22 12:07] jdearie commented on #410
good catch  i wasn't even thinking about the block on the home page when i created the "Become a Speaker" page. I was just copying DrupalCons IA.

Same issue with "Connect" block and "Sponsor" in the menu... though in this case, I'm not sure how many people would see Connect as sponsorship.

Do you think it's worth the effort to change now?  Would we confuse users by changing the text in the menu?

[2017-05-22 20:15] bheatonf1 commented on #365
@jdearie @mikemadison13 any thoughts on where to place a list of sessions that a user has flagged?  I see mike's view offers a page, but we could also just place it on the user's profile page where we have the users's submitted sessions and registrations

[2017-05-22 22:03] bheatonf1 commented on #365
@mikemadison13 [PR](https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/414)

[2017-05-22 22:05] bheatonf1 commented on #413
@sarahjean @timwood I can't recall how this differentiates from the 'News' content type. Are we creating yet another content type for this? Of should this be a block? I'm happy to take this on. @charlieartist were you able to create the news content type mentioned in https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/388 ?

[2017-05-22 22:46] bheatonf1 commented on #412
[PR](https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/415)

[2017-05-23 05:19] #397 closed

[2017-05-23 05:19] #394 closed

[2017-05-23 05:33] mikemadison13 commented on #407
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/416 to disable the permissions to create sessions

[2017-05-23 05:41] #412 closed

[2017-05-25 11:22] jdearie opened #419 "add date/time and room fields and create schedule views"
while we won't be doing any actual plotting-type scheduling, we would like to have some kind of dynamic schedule options for our attendees.

- [x] add a date/time field to session content type

- [x] add a text field for Room (we won't do drop-downs in case we end up getting access to rooms we don't currently have booked)

- [x] create a view that shows the schedule; view should include session ti

[2017-05-25 11:24] jdearie commented on #392
overtaken by new issue #419

[2017-05-25 11:24] #392 closed

[2017-05-25 11:24] jdearie commented on #365
relates to #419

[2017-05-25 12:02] jdearie opened #420 "update text on home page"
Remove sessions submission closing text and replace with

Scholarship Applications Now Being Accepted - Closing June 9th

Text should link to https://www.drupalgovcon.org/scholarships

[2017-05-25 20:11] mikemadison13 commented on #420
this has been done in prod.

[2017-05-25 20:11] #420 closed

[2017-05-25 22:18] jdearie opened #421 "users need to be able to delete tickets"
users need to be able to delete tickets.

unless i'm missing something, i don't see a way for a user to delete their ticket... only update the info and save.

[2017-06-01 04:04] charlieartist opened #423 "Fix Drush Mismatch in Build Configuration"
Due to the Drush version not being specified in the build configurations, there is a potential for a mismatch where the site build in the VM will be Drush 9.x, which most likely result in a build failure, with hard to decipher failure messages. This fix prevents this by specifying Drush 8.x to be run.

[2017-06-01 22:02] mikemadison13 commented on #386
dup in https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/409

[2017-06-01 22:02] #409 closed

[2017-06-01 22:03] mikemadison13 commented on #408
this was done by hand.

[2017-06-01 22:03] #408 closed

[2017-06-02 18:22] mikemadison13 commented on #421
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/426

[2017-06-02 21:17] #407 closed

[2017-06-02 21:33] mikemadison13 commented on #419
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/426 partially addresses this ticket.

[2017-06-02 21:33] #386 closed

[2017-06-02 21:33] #369 closed

[2017-06-02 21:34] mikemadison13 commented on #321
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/381

[2017-06-02 21:34] #321 closed

[2017-06-02 21:35] mikemadison13 commented on #354
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/381

[2017-06-02 21:35] mikemadison13 commented on #392
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/381

[2017-06-07 12:38] jdearie opened #429 "non-session events"
we need to be able to display non-session events on the schedule.  We will use this to add things like keynotes, breaks, lunch, registration etc to the schedule

perhaps a new content type?
required fields would be:

Field Label | Field Type
------------ | -------------
Title | Text
Date/Time | date/time
Room | Text

See last year's example: https://www.drupalgovcon.org/drupal-govcon-2016/schedule

[2017-06-07 14:41] charlieartist commented on #429
I'll check on the site/node architecture. Ideally, there'd be a way to do this easily, in a way that automatically is displayed in the program, just like session events.

[2017-06-07 17:26] jdearie commented on #361
sessions submission is closed so tagging this for 2018

[2017-06-07 18:34] jdearie commented on #390
too late for 2017 - need for next year.

[2017-06-08 23:29] jdearie opened #430 "Allow sponsors to have more than one sponsorship level"
The sponsorship level in the sponsor content type only allows for one type of sponsorship level. Some sponsors are doing both (i.e. core and training). To have them show up properly on the sponsorship page, I have to add them more than once - one for each level.

[2017-06-09 18:45] charlieartist commented on #384
New content type created, as well as critical alerts. Here are images of special announcements, and critical alerts:
<img width="641" alt="20170609-govcon17-homepage_001-mobile" src="https://user-images.githubusercontent.com/3085730/26989655-e6de7a86-4d21-11e7-8262-25ff710dc935.png">
<img width="1600" alt="20170609-govcon17-homepage_003-desktop" src="https://user-images.githubusercontent.com/30857

[2017-06-13 20:28] jdearie commented on #363
working now so closing.

[2017-06-13 20:28] #363 closed

[2017-06-13 20:38] jdearie commented on #352
i think we can close - things seem to be working even w/o the intended fix from this issue

[2017-06-13 20:38] #352 closed

[2017-06-13 21:11] mikemadison13 commented on #393
this should be a view that is based on webform results.

[2017-06-13 21:23] jdearie opened #432 "Roles Summary"
While many content types have status/moderation... we don't have enough volunteers to create the need for content reviewers vs creators.

Summary of roles and associated permissions.

**Volunteer Role**
- View ticket webform results
- Edit ticket webform submissions

**Sponsor Role**
- Add/Update/Delete Sponsor content type

**Editor Role**
- Add/Update/Delete Sponsor content type
- Add/Update/Del

[2017-06-13 21:29] jdearie opened #433 "remove scholarship text from home page"
@mikemadison13 - can you pls remove the scholarship announcement from the home page as soon as possible? last friday was the cut-off.

[2017-06-13 22:17] charlieartist opened #434 "Add News and Announcements"
This is to replace 384.

[2017-06-14 15:25] mikemadison13 commented on #333
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/436

[2017-06-14 15:32] mikemadison13 commented on #333
@lkopacz do you have availability to help with some styling on this?

[2017-06-14 23:07] mikemadison13 commented on #434
see #384 and #431

[2017-06-14 23:07] #434 closed

[2017-06-14 23:07] #384 closed

[2017-06-14 23:07] mikemadison13 commented on #384
added in https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/435

[2017-06-14 23:08] mikemadison13 commented on #413
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/435

[2017-06-14 23:08] #413 closed

[2017-06-14 23:08] mikemadison13 commented on #388
partially done in https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/435

[2017-06-15 16:05] charlieartist commented on #398
@jdearie Now that the homepage announcements are going to be deployed, I could create another view display off this, with unlimited numbers of announcements, and no expiration, as content does on the homepage.

[2017-06-15 16:07] charlieartist commented on #429
@jdearie I'm working on creating the view for the program/schedule, will see on how to add this in. Perhaps, also an exposed filter to allow users to show these without speaker sessions.

[2017-06-15 16:13] charlieartist opened #440 "Create and Style Program"
Custom view to display conference program, with default chronological sort broken down by:
Date > Time Slot > Event.

To avoid confusing UX, ideally there will be a master program, containing all events, sessions and other. This will be filterable by day/track/event type, as well as allowing registered users to display their selected sessions.

The wireframes for this display have already been cre

[2017-06-15 20:41] charlieartist commented on #301
@jonraedeke How should we accomplish this.

[2017-06-16 01:30] jonraedeke commented on #301
@charlieartist I thought since this one has some of the same classes and the pages are very similar to just make one component and swap out the json data to change the message and image to make it a 404 or 403 page. I think I made a suggestion similar to this on the 404 page pull request. See https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/302

[2017-06-16 01:31] charlieartist commented on #301
@jonraedeke Thanks--you know this far better than I do. How difficult is it to accomplish?

[2017-06-16 15:27] brooke-heaton opened #443 "Session Track Views Should Not Be Paged"
Remove pagination and display all items on the Session taxonomy views: https://www.drupalgovcon.org/taxonomy/term/86

I changed this config on  Prod but the config for the view needs to be committed.

[2017-06-17 00:39] jdearie opened #444 "session node needs to display day/time and room fields"

[2017-06-17 00:43] charlieartist commented on #444
@jdearie This can be closed. These fields are already in, and I'm changing the visibility in order to make the program display these for non-admin users.

This has been addressed in [issue 440](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/440)

[2017-06-17 00:43] #444 closed

[2017-06-17 00:45] charlieartist commented on #429
I'm in the process of creating this content type in order to display it correctly in the program in [issue 440](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/440)

[2017-06-17 00:45] #429 closed

[2017-06-17 00:52] charlieartist commented on #388
This was covered in [issue 384](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/384)

[2017-06-17 00:52] #388 closed

[2017-06-17 00:52] charlieartist commented on #398
This can be based off [issue 384](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/384)

[2017-06-19 16:38] bheatonf1 opened #446 "Revise Sessions view for tabbing by day of week"
@charlieartist added tabs via BEF on the Program view however this depends on a yet-to-be-populated field on the Session content type for day of the week.

We EITHER need to revise the view to add filtered view display for each day then populate with local menu tabs, which @alisonjo2786 can take on

OR

We need an update hook that will write this field based on the Session date. A bit of a wonky w

[2017-06-20 03:17] charlieartist opened #448 "Create and Style Program"
Update of Issue 440.

[2017-06-20 13:40] charlieartist commented on #440
Due to merge conflicts, this was superseded by a new build: [448](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/448)

[2017-06-20 13:40] #440 closed

[2017-06-20 13:41] charlieartist commented on #448
This supersedes [440](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/440).

[2017-06-20 22:23] #365 closed

[2017-06-20 22:23] #333 closed

[2017-06-21 16:07] charlieartist opened #451 "Fix Sponsor Display"
Currently, there is an issue where some sponsors don't display as they should. Presumably, this is due to a limit on the view display.

This is ac critical issue--since sponsors aren't seeing their paid listings.

[2017-06-22 02:22] alisonjo2786 commented on #446
@bheatonf1 -- okie doke, I have stuffs to share :)

Instructions for implementing the changes are below -- and attached four config files (I hope I exported them in a way that will be import-able -- these are all *new* config files, I didn't export any of the existing config files).

**NOTE:** I'm including **TWO** proof-of-concept views, b/c I had a different idea after I got into it -- see _**Tw

[2017-06-22 02:45] charlieartist opened #453 "Fix Sponsor Display 2"
The first build, [451](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/451), kept failing, so this issue supersedes it. Fixes limited number of sponsor displays.

[2017-06-22 02:48] charlieartist commented on #453
This supersedes issue [451]https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/451). Fixes limited number of sponsor displays.

[2017-06-22 13:11] charlieartist opened #455 "Fix Sponsor Display 3"
Issues with node/npm resulting in failures. Because of this, new issue being created.

[2017-06-22 16:40] #455 closed

[2017-06-22 16:40] #453 closed

[2017-06-22 16:40] #451 closed

[2017-06-22 16:41] charlieartist opened #457 "Fix Sponsor Display"

[2017-06-22 17:50] #457 closed

[2017-06-22 17:50] charlieartist opened #458 "Fix Sponsor Display"
This issue has already been addressed on production, this is the step to make this permanent.

[2017-06-22 18:07] #458 closed

[2017-06-22 18:09] charlieartist opened #460 "Fix Sponsor Display"
This was already addressed on prod.

[2017-06-22 23:54] charlieartist commented on #460
This is being closed, new to open on new build.

[2017-06-23 01:49] charlieartist opened #464 "Set Drush Version in Build"
For some collaborators, there is an issue where Drush will default to 9.x within VM, resulting in failures when attempting to load and sync the site database. This simple change will avoid frustrating failures.

[2017-06-23 01:57] charlieartist commented on #446
@alisonjo2786 @bheatonf1 Also to consider--I didn't finish up the styling of some of the smaller content items such as track and location, pending these updates. There are some UX issues to consider, which will be good to discuss and test.

[2017-06-23 02:39] mikemadison13 opened #466 "Drupal 8.3.4 Security Update"

[2017-06-23 03:08] #460 closed

[2017-06-23 04:37] #466 closed

[2017-06-23 04:37] #464 closed

[2017-06-23 04:37] mikemadison13 commented on #464
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/465

[2017-06-23 04:38] mikemadison13 commented on #466
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/467

[2017-06-23 23:53] alisonjo2786 commented on #446
Notes for "reference" / "posterity" / whatever:

### Implementation, after normal code update / cim / etc.:
1. Add the three links to the Schedule menu: _(Menu link title / Menu link)_
   1. Monday
   /schedule/07/31
   1. Tuesday
   /schedule/08/01
   1. Wednesday
   /schedule/08/02
1. Edit Main menu > add menu link under Program:
Schedule
/schedule
1. Add _**fill this in...** ALIAS OR REDIRECT O

[2017-06-24 18:52] bheatonf1 commented on #446
I have revised the process a bit - we will be using the 'Schedule' menu and we will need to populate each day with the following - note that the view uses a contextual filter for the Session Date subfield of /[month]/[day]

- Monday - /schedule/07/31
- Tuesday - /schedule/08/01
- Wednesday - /schedule/08/02

[2017-06-24 19:48] bheatonf1 commented on #393
@jdearie would a csv/xls version of this view be helpful as well? Or will be be using the site itself to manage user checkin?

[2017-06-24 20:16] bheatonf1 commented on #393
@bendygirl question bout the 'status' field - since this is a new field - all registrations will have no value - would this work better as a single value checkbox for 'Checked in'? since that would default to no value but checking it would check them in?

[2017-06-24 20:18] bheatonf1 commented on #393
Actually @bendygirl nevermind! I think what I have works well.

[2017-06-24 20:33] bheatonf1 commented on #393
@bendygirl just flagging a potential issue I see with checking - it appears that we may have added some 'required' fields to the Registration webform after some people had submitted theirs. An example would be 'Company'. I presume that would mean that volunteers checking people in may need to fill out these missing fields with the attendee? Is that desired? Alternatively we may need to make some f

[2017-06-27 04:20] brooke-heaton opened #476 "Revise User Flagged Session Block"
The block is currently showing on any users page - add contextual filter for the current user id. This has been done o Prod - need to export config.

[2017-06-27 04:21] brooke-heaton opened #477 "Improve User Display"
Currently only the user name displays - we should show First Name, Last Name, Bio etc - we may need a Twig tpl for this.

- [x] First Name
- [x] Last Name
- [x] Organization
- [ ] Drupal.org username
- [ ] Make user url include the user name /username

[2017-06-27 12:27] charlieartist commented on #477
@bheatonf1 I have bandwidth, and need to get better at D8 templates. Should we touch base?

[2017-06-27 12:33] charlieartist commented on #448
This was superseded by [this issue](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/446), and is now deployed.

[2017-06-27 12:33] #448 closed

[2017-06-27 12:39] charlieartist opened #478 "Sponsors Link not visible in main navigation"
While the level 1 site navigation link Sponsors displays fine on desktop, it isn't visible on mobile, which could be a serious complaint from our sponsors. Will need to be remedied so this link displays at all breakpoints.

Attached are screen grabs to show this:
**Desktop (Works)**
![govcon-sponsorlink-desktop](https://user-images.githubusercontent.com/3085730/27587837-efe60bda-5b13-11e7-9b65-aa0

[2017-06-27 14:27] bheatonf1 commented on #477
@charlieartist yea, this might be an ideal one for you - I think we just need a better Twig template, but there might be more too it.

[2017-06-27 15:28] charlieartist commented on #477
OK--I have an annotated wireframe here. LMK if there anything I have missed as far as content.
![1880-govcon17_wireframe-01-mobile_userprofile_v01](https://user-images.githubusercontent.com/3085730/27595801-ab5ff990-5b2b-11e7-8e6b-8ec0a0d462a9.png)

[2017-06-27 15:50] #446 closed

[2017-06-27 15:55] bheatonf1 commented on #433
I did this last week. Done.

[2017-06-27 15:55] #433 closed

[2017-06-27 15:59] bheatonf1 commented on #478
Below is the current Prod configuration of the menu. @charlieartist any idea what is causing it to get cut off?
![govconmainnav](https://user-images.githubusercontent.com/19474864/27597305-fadc95b0-5b2f-11e7-84bd-e82ad2ed4cb6.png)

[2017-06-27 16:01] bheatonf1 commented on #432
@jdearie is this ticket to confirm these permissions or are we revising the current permissions per this list?

[2017-06-27 16:03] charlieartist commented on #478
@bheatonf1 That's what I need to find out. I know the menu is set up using mainly CSS3 animations, will need to debug to get to the bottom of this.

[2017-06-27 16:04] bheatonf1 commented on #191
@timwood Do we have links for these archived sites?

[2017-06-27 16:05] bheatonf1 commented on #215
@jdearie is this task complete? Can we close it?

[2017-06-27 16:12] charlieartist opened #479 "Schedule UX Improvements"
Now that the schedule is finally up, there are some minor UX improvements to add in, especially for mobile users. This will improve functionality, and well as providing a more uniform interface.

[2017-06-27 16:17] bheatonf1 commented on #478
funky... something must be hiding it

[2017-06-27 17:28] jdearie commented on #215
nope.  the footer is still the old footer.

[2017-06-28 11:51] jdearie commented on #432
i believe the intent was to revise the current permissions - or at least add the roles we don't already have.

Volunteer role has priority.  We can make do without the editor and sponsor roles until 2018... but volunteers need access to the webform results during the conference to check people in.

[2017-06-28 19:47] charlieartist opened #482 "Create Non-Session Events"
Non-session events need to have a way to be added to the schedule. These events would include things like Break, Registration, and Lunch.  The events would have start (and end) times as well as a location and a description (body?) field.

Ideally - non session events would be displayed on the schedule in the appropriate day/time spot they are assigned to.  (Backup plan: Message at the top of each

[2017-06-29 21:04] mikemadison13 opened #484 "Session Field Issues"
- [x] Room field should be visible on session nodes
- [x] Date field should be visible on session nodes
- [x] Taxonomy link to session track shouldn't be a link

[2017-06-29 21:33] mikemadison13 opened #486 "Session Flag Issues"
- [x] Aggregate the rows in the table so there aren't dups
- [x] Filter dashboard to be only accepted sessions

see the issues on the /admin-session-flags view (too many rows in general, and sessions that aren't flagged as accepted)

There is also an issue with flag links showing up multiple times on session nodes

- [x] Correct session node flag link issues

[2017-06-29 21:33] mikemadison13 commented on #484
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/485

[2017-06-29 21:36] jdearie commented on #359
pretty sure this is done.

[2017-06-29 21:36] #359 closed

[2017-06-29 21:38] mikemadison13 commented on #486
https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/487

[2017-06-29 21:41] jdearie opened #488 "UNSET ticket registration limit"
Changed live, but needs to be changed in code / in dev.  (Submission limit field should be empty.)
![image](https://user-images.githubusercontent.com/2660348/28175979-c8cdae88-67c3-11e7-9874-11d4a0600734.png)

relates to #489

[2017-06-29 21:42] jdearie opened #489 "Ticket Waitlist"
Reg limit is 1400 -- then ticket reg form becomes "waitlist registration form."

NOTE: Maybe create follow-up tickets for "after we reach 1400" tasks, so that this ticket can be closed.

### Brooke:
* Add "is waitlist" boolean to ticket reg form.
  * Hidden/admin-only
  * Default value = "no / empty"
* Adjust "my tickets" view that's shown on user profile to show indication if a ticket is a waitli

[2017-06-29 21:44] jdearie opened #490 "Create Volunteer Role"
Create a Volunteer role that has access to edit/view all submissions for the registration webform

[2017-06-29 21:46] jdearie opened #491 "Create ticket status"
each ticket needs to have a status associated with it. Default status is "Registered".
Volunteers will need to be able to change the ticket status from "Registered" to "Checked-In"

[2017-06-29 21:52] #484 closed

[2017-06-29 21:57] jdearie commented on #482
Keynotes will be added as session nodes. Other event types would be added here. (Registration, Breaks, etc).

If we can't make the turn - static text can be added to the top of the schedule to identify the daily times for breaks, lunch etc)

[2017-06-29 21:59] jdearie opened #492 "Create a My Schedule"
Create a view where a user can see accepted sessions they have flagged

The view display should match that of the current schedule (filtered by sessions user has flagged)

A tab or link to My Schedule should be accessible from the Schedule page.

[2017-06-29 21:59] jdearie commented on #419
pulled out my schedule to #492. we can close this now.

[2017-06-29 21:59] #419 closed

[2017-06-29 22:02] jdearie opened #493 "Remove hyperlink to Track taxonomy page from session teaser on Schedule view"
The schedule view displays the track each session is assigned to and links to the term view for that track.

The term view is not set up to filter out non-accepted sessions.

Easiest fix is to remove the hyperlink and display the just the text of the track

[2017-06-29 22:03] #398 closed

[2017-06-29 22:03] jdearie opened #494 "review ux issue with news being so far down on the home page"

[2017-06-29 22:05] jdearie opened #495 "create admin view of flagged accepted sessions"
view exists at /admin-session-flags but @mikemadison13 says it needs some work.

[2017-06-29 22:06] jdearie opened #496 "remove connect and present images/text from the home page"

[2017-06-29 22:07] jdearie opened #497 "Remove hyperlink to Track taxonomy page from session node view"
display track as plain text only

[2017-06-29 22:08] jdearie opened #498 "display date, time, and room on session node"

[2017-06-29 22:11] mikemadison13 commented on #495
see #486

[2017-06-29 22:11] #495 closed

[2017-06-29 22:11] jdearie opened #499 "add conference role to user account"
add a conference role field to the user account

options:
-attendee (default)
-organizer
-volunteer

[2017-06-29 22:12] mikemadison13 commented on #497
see #484

[2017-06-29 22:12] #497 closed

[2017-06-29 22:12] mikemadison13 commented on #498
see #484

[2017-06-29 22:12] #498 closed

[2017-06-29 22:17] jdearie opened #500 "create a view of all organizers"
create a view of all user accounts that have the conference role of "organizer" in a photo grid

Fields should be:
user photo
d.o username
first name last name

relates to #499

[2017-06-29 22:18] jdearie opened #501 "create a view of all volunteers"
create a view of all users with the conference role of "volunteer" in a photo grid

Fields should be:
user photo
d.o username
first name last name

relates to #499

[2017-06-29 22:22] jdearie opened #502 "create a view of all attendees"
create a page view that displays all user accounts in a photo grid

Fields should be:
user photo
d.o username
first name last name

[2017-06-29 22:25] jdearie commented on #354
think this is done. closing

[2017-06-29 22:25] #354 closed

[2017-06-29 22:31] jdearie commented on #262
think this happens already. closing.

[2017-06-29 22:31] #262 closed

[2017-06-30 22:40] jdearie opened #503 "allow multiple selects on input on purchase field"
based on user feedback, we should consider making the "In my organization, I have input on the purchase of the following:" field allow multiple selections

[2017-07-05 18:40] bheatonf1 commented on #491
@jdearie Status field has been added - can confirm on DEV (release required to propagate to Prod site)

[2017-07-05 18:40] bheatonf1 commented on #393
@jdearie Status field has been added - can confirm on DEV (release required to propagate to Prod site)

[2017-07-05 18:41] bheatonf1 commented on #490
@jdearie Volunteer role has been added - can review on DEV (requires Prod release to get it live)
https://capitalcampdev.prod.acquia-sites.com/admin/people/roles/manage/volunteer

[2017-07-05 18:44] bheatonf1 commented on #393
View can be accessed only by Administrator or Volunteer roles - can confirm on DEV: https://capitalcampdev.prod.acquia-sites.com/admin/structure/views/view/attendee_check_in

[2017-07-05 20:51] alisonjo2786 commented on #482
@jdearie "Other event types would be added here" -- meaning?

But also, Jess, could you please wipe out the GH issue description here, and explain the intended plan for going forward?  Karl's original description talks about creating a new content type.

[2017-07-05 20:59] alisonjo2786 commented on #482
(one more question) @jdearie Is there a blocker for adding Keynotes as session nodes, do we have the content and necessary node/views structure, or are we missing one or both?

[2017-07-05 21:11] jdearie commented on #482
@alisonjo2786 - keynotes will be session nodes. the only reason they aren't there yet is b/c i'm waiting on content.  keynote was added to the track vocab - so everything should work the same with the schedule... i presume.

[2017-07-06 20:24] jdearie commented on #393
I love this display - if there was a a link in the status field that volunteers could click to change someone from registered to checked in, that would be ideal.  Volunteers would only need to use the edit link if any of the days, lunch, or t-shirt info was wrong.

![image](https://user-images.githubusercontent.com/5174534/27931244-86ac51dc-6267-11e7-84a2-a1210f842438.png)

[2017-07-06 21:42] alisonjo2786 commented on #393
@bheatonf1  I was going to put this into the issue description, but then decided to put it here and ask YOU to update the issue description however you see fit, since you're doing it :)

1. Brooke created and successfully demo'ed a proof of concept using a flag, and he's going to move forward with that implementation.
1. Other details:
    1. Make sure "status" is shown when viewing user page (at

[2017-07-07 15:11] jdearie opened #507 "Language for waitlist things (webform, email notification, etc.)"
Once ticket webform submissions reach 1400, the webform will be modified to waitlist.  The language on the page when submissions are waitlisted should be:

Language for email when user moves from waitlist to ticketed:

[2017-07-10 19:49] charlieartist commented on #502
This is being covered in [this issue](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/477)

[2017-07-10 19:50] charlieartist commented on #500
This is being addressed in [this issue](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/477)

[2017-07-10 19:50] #502 closed

[2017-07-10 19:50] charlieartist commented on #501
This will be covered in [this issue](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/477)

[2017-07-10 19:51] charlieartist commented on #499
This will be addressed in [this issue](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/477)

[2017-07-10 19:52] charlieartist commented on #496
Once this is addressed, what content should be placed here? Perhaps Schedule, Speakers, or Events?

[2017-07-13 15:20] brooke-heaton opened #511 "Update Webform to 8.x-5.0-beta12 and patch"
Webform required fields render as required EVERYWHERE - including on Views - so for instance our filters for 'first' and 'last' name are required on the Checkin view, which breaks everything. We should try to patch this on the beta12 release.

Patch: https://www.drupal.org/files/issues/ckeditor_text_area_not-2887740-3.patch

[2017-07-13 15:32] alisonjo2786 commented on #393
@jdearie Should the check in view have the confirmation step you usually see on VBOs, or should that be disabled?

[2017-07-13 15:49] jdearie commented on #507
i still need to create the instructions page on how to delete your ticket, but I can't do that until users can actually delete their webform submissions.  they can't on prod yet. relates to #421

[2017-07-13 15:58] jdearie commented on #393
the view on dev (that i just looked at a few min ago) for moving between registered and checked-in looks great as is.  What VBO process are you referring to?

[2017-07-13 16:02] alisonjo2786 commented on #393
Oh shit, nm, I forgot how it's working -- was picturing VBO checkboxes for checking in, but that's def not the workflow, my bad, never mind!

[2017-07-13 20:54] alisonjo2786 opened #512 "Right before conference: Registration webform tweaks"
Have this ready to go as much as possible beforehand, if such a thing exists... and then, right before the conference opens...
* un-require required fields before conference opens -- don't want required fields in effect when vols are checking ppl in (but want them to remain required for now!)
* re-order the submission form fields so that the fields vols need to be able to edit are at the top, clus

[2017-07-14 01:56] bheatonf1 commented on #493
[PR](https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/513)

[2017-07-14 01:59] bheatonf1 commented on #488
[PR](https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/514)

[2017-07-14 02:22] bheatonf1 commented on #476
Not sure if this is still an issue. Could not reproduce. Sorry that I didn't add more details - it was a late one :(

[2017-07-14 03:31] bheatonf1 opened #516 "Update Sponsors Page IPE settings to show Diversity & Inclusion sponsors"
A new sponsor level was created--Diversity and Inclusion, which needs to be added to the codebase. Currently, this was done live on production, with this taxonomy term added, then, in turn, this was added to the landing page for sponsors via the IPE interface. This configuration needs to be exported in order not to be overridden when the next update is pushed from staging.

[2017-07-14 03:49] bheatonf1 commented on #516
I pulled the Prod DB to my local and ran drush cim -y and the Diversity & Inclusion sponsors are still there - I'm not familiar with IPE in D8 but it looks like this does not require a config change to keep on Prod! (i hope... [runs away]...)

[2017-07-14 03:49] #516 closed

[2017-07-14 19:16] jdearie opened #518 "remove company filter from check-in view"
we didn't make the company field required on registration, and we aren't showing it on the view... so there's no real value in having it as a filter. let's go ahead and remove it if we have time.

[2017-07-14 19:26] jdearie commented on #421
re-opening because:
delete webform option is there... i get access denied after confirming that i wanted to delete (attempting to delete my own submission when logged in as sampleuser)

[2017-07-14 19:51] charlieartist commented on #492
I believe this continues on the work of the existing scheduling tickets.

[2017-07-15 18:28] bheatonf1 commented on #477
@charlieartist is this all now complete? If not, can we add a new issue for remaining tasks and close this out?

[2017-07-15 18:34] bheatonf1 opened #519 "Clone Sessions View as Block for 'My Schedule'"
The current 'My Schedule' block should be revised to use a clone of 'Schedule.

[2017-07-15 18:38] bheatonf1 commented on #500
If this ticket is no longer needed, can we close this ticket @charlieartist ?

[2017-07-15 18:42] #519 closed

[2017-07-15 18:58] #491 closed

[2017-07-15 18:58] #490 closed

[2017-07-15 18:59] bheatonf1 commented on #489
@jdearie can this be closed? I think the only registration issue is the ability to delete one's own registration.

[2017-07-16 14:04] charlieartist commented on #477
@bheatonf1 I'm working on the view displays to this, as well. Based on feedback from @jdearie, I don't need a separate boolean for public display of user information in the user edit form, since this is covered in the ticket. How should I best link this?

[2017-07-18 13:13] jdearie commented on #489
not yet - we need to fix the wait list display issue (tickets are created and even though they are not on the wait list - the user profile page says they are).

![image](https://user-images.githubusercontent.com/5174534/28318576-4a821b7a-6b99-11e7-95f1-ba1e3276137f.png)

[2017-07-18 15:06] bheatonf1 opened #520 "Fix Wait List functionality"
I've made a change to production that must be updated in code.
I've had to change the field type from 'checkbox' to 'checkboxes' to allow null values and to hide the Wait List value for users who are not on the wait list.

[2017-07-18 22:26] jdearie opened #522 "Add Open Graph Markup to site"
We need custom link previews on social media to be controlled.
Read more: https://developers.facebook.com/docs/sharing/best-practices#images
[code]

[2017-07-19 04:21] brooke-heaton opened #523 "Permit Authenticated users to delete own GovcCon Registration"
Users are currently unable to delete own Registration
Webform Submission

[2017-07-20 14:13] bheatonf1 commented on #492
[PR](https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/525) @lkopacz you have time :/

[2017-07-20 19:52] bheatonf1 commented on #489
@jdearie this should be resolved on DEV

[2017-07-20 19:52] #488 closed

[2017-07-20 19:53] onelittlebecca commented on #489
w00t! clearing tickets like a boss @bheatonf1 !!!

[2017-07-20 20:22] brooke-heaton opened #526 "Remove field level permissions from Event date"
For some reason, we had blocked the date field form public viewing. There are field-level permissions on the Event date that we need to remove entirely. This change as been made in Prod but not in code.

[2017-07-20 21:16] alisonjo2786 commented on #507
@bheatonf1 I was able to register and then delete my ticket using the "Cancel" link, woo-hoo!

[2017-07-20 21:50] alisonjo2786 commented on #492
@bheatonf1 I'm surprised there isn't an "add to my schedule" link on the Sessions view -- *if* this was already discussed, then 100% never mind, no need to re-hash just b/c I missed it.  If it wasn't discussed, is it doable very quickly/with minimal extra effort at this stage in the work, or should I add a new ticket and mark it for 2018, or?  Thanks!

[2017-07-20 21:56] alisonjo2786 opened #528 "When "user sessions" is empty, hide block"
Currently, it shows the "empty results text" from back when we were still pushing ppl to submit sessions, but now it should hide the block completely.

https://www.drupalgovcon.org/user
![image](https://user-images.githubusercontent.com/2660348/28440545-bc8fd86a-6d74-11e7-9cdc-1c370bb7368a.png)

[2017-07-20 21:57] alisonjo2786 commented on #528
@jdearie Could you please let us know how you'd like this prioritized?  Do you care that it's done before the Con, or should we put it in the 2018 list?

cc @charlieartist

[2017-07-21 01:31] bheatonf1 commented on #476
Yep this is still an issue noted by @jdearie I have resolved on Prod. This needs to be committed in code.

[2017-07-21 14:23] alisonjo2786 opened #531 "Check-in: Improve exposed filters and flagging language"
_Follow-up to #492_

### View
* Add _either_ a reset button or a link to the view URL (which would feel like a reset button) so users can "clear filters."
* Add "show non-checked-in" filter.
* *IF IT DOESN'T DISRUPT THE CHECK-IN FLAG,* disable Ajax for this view.  (If doing so is problematic for the ajax used for the Check-in Flag, please don't bother working to make it work anyway, just leave aja

[2017-07-21 16:21] alisonjo2786 opened #532 "My Session Schedule: follow-up fixes"
* Grouping fix
* Sort improvement

[2017-07-21 17:00] alisonjo2786 commented on #532
Updated "my sessions" and "session schedule" views are [attached](https://github.com/Drupal4Gov/Drupal-GovCon-2017/files/1166204/sessions-views.ajm-20170721.zip).

Change details:
- Both:
   - Added "Content: Title" as secondary sort criteria.
   - Changed row style ("type") from entity:node to fields -- there were already fields on the view, I think this row style situation was just an artifact p

[2017-07-21 17:03] charlieartist commented on #532
I'm creating a new branch to add in @alisonjo2786 and test. Will post that info momentarily.

[2017-07-21 17:08] charlieartist opened #533 "My Session Schedule-Config Test"
This branch imports the fixes @alisonjo2786 made in [issue 532](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/532#issuecomment-317056136).

[2017-07-21 21:11] bheatonf1 commented on #532
NICE WORK @alisonjo2786 ! It looks great!!

[2017-07-21 21:17] bheatonf1 commented on #528
@jdearie @charlieartist I have a quick fix for this - will commit today.

[2017-07-22 07:03] bheatonf1 commented on #526
This appears to have been resolved in another branch/ticket. Field is public.

[2017-07-24 01:18] alisonjo2786 commented on #532
Awww thanks! :D

[2017-07-24 20:36] alisonjo2786 commented on #492
@bheatonf1 We/You can close this issue, correct?

cc @dmkelner

[2017-07-24 20:42] jdearie commented on #518
pretty sure this is done already. it's gone from prod.

[2017-07-24 20:53] alisonjo2786 commented on #528
@bheatonf1 @charlieartist Did y'all already get to this?

[2017-07-24 20:56] #532 closed

[2017-07-24 20:56] #520 closed

[2017-07-24 20:57] #493 closed

[2017-07-24 21:36] #507 closed

[2017-07-25 10:56] jdearie opened #537 "Time Zone display"
Schedules on the user's account page shouldn't use local time zone.

If someone presenting at 9am eastern, but their personal account time zone is central, it shows the wrong time for the presentation.

[2017-07-25 18:03] bheatonf1 commented on #492
@jdearie let's add a ticket to add the link - i presume that would be a menu content/non-dev issue - then let's close this ticket.

[2017-07-25 18:05] brooke-heaton opened #538 "Add link to 'My Schedule' from main Schedule"
@jdearie - please specify where this link should be located - screenshot etc.

[2017-07-25 20:17] alisonjo2786 opened #539 "Schedule and My Schedule views: add to / remove from schedule flag links"
Add the "add to/remove from my schedule" flag link to the schedule/my schedule views, so that you can add/remove while looking at the full conference schedule (and so that you can remove while you're looking at your "sessions i'm interested in" list).

[2017-07-25 20:18] alisonjo2786 commented on #538
@bheatonf1 And vice versa, I think -- I know "schedule" has a menu link, but still, there should be a link to the main Schedule from My Schedule, right....?

(could reuse whatever markup/styling y'all use for adding the link FROM schedule TO my schedule?)

[2017-07-26 22:34] mikemadison13 commented on #477
see https://github.com/Drupal4Gov/Drupal-GovCon-2017/pull/541

[2017-07-26 22:53] mikemadison13 commented on #430
@krapp91 the config change looks great on this, the multi-select field not so much (if you go into edit an existing sponsor in your local you can see what it looks like). i would advise a second commit that adds a bit of styling. @lkopacz / @charlieartist would be good resources for that if you have questions

[2017-07-27 11:35] charlieartist opened #542 "Add Role Displays to Menus"
Based on the latest IA (v1.1), role displays will be added to the navigation menus.

[2017-07-28 03:27] charlieartist commented on #499
As noted in the references above, this issue is addressed in [issue 543](https://github.com/Drupal4Gov/Drupal-GovCon-2017/issues/543)

[2017-07-28 03:27] #499 closed

[2017-07-31 12:34] mikemadison13 opened #548 "Presenters View Bug"
The presenters view currently has multiple duplicates for many users. This is an artifact of the multiple relationships on the view.

It should probably be rebuilt to be based on either users or the approved sessions instead of the webform registrations, as the 3way relationships in the view are causing the dupes.

I have tried enabling aggregation and this is causing a fatal error re: the picture

[2017-07-31 12:37] charlieartist commented on #548
@mikemadison13 how should this be tackled?

[2017-08-02 18:42] jonraedeke opened #549 "2018 Look and Feel"
@charlieartist, let's work on a design that dovetails well with a Drupal4Gov look.

[2017-08-03 11:30] jdearie opened #551 "Add 2018 dates to home page"
Please update the home page to change the current dates to next year's: Aug 22-24

So this:
2018 Dates Announced
August 22 - 24, 218
National Institutes of Health Campus
Natcher Conference Center • Bethesda, MD

replaces this
July 31 - August 2
National Institutes of Health Campus
Natcher Conference Center • Bethesda, MD